@media print {
  * {
    background: none !important;
    text-align: left !important;
  }

  html {
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    background: #fff !important;
    font-size: 9pt !important;
    padding: 0 !important;
    margin: 10px !important;
  }

  a {
    color: #3333ff !important;
    font-weight: 400;
    text-decoration: underline !important;
  }

  th,
  td {
    color: #2f2f2f !important;
    border-color: #ccc !important;
  }

  th {
    border-bottom: 1px solid #000 !important;
    font-size: 15px;
  }

  footer,
  nav {
    display: none !important;
  }

  header > .inner {
    padding: 5px 0;
  }

  .padded,
  .main-content {
    padding: 0;
    margin: 0;
  }

  /* print */

  header {
    border-bottom: 0;
    position: relative;
    padding-bottom: 6px;
    margin-bottom: 0;
  }

  blockquote {
    border: 0;
  }

  a[href]:after {
    content: "";
  }

  p,
  td,
  th,
  li {
    font-size: 14px;
  }

  main ul > li {
    margin-bottom: 5px;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 blockquote,
  pre {
    padding: 0;
    color: #000 !important;
    text-transform: none;
    font-style: normal;
    font-variant: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 26.4px;
  }

  h2,
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 17.4px;
  }

  h2 {
    font-size: 18px;
    line-height: 19.4px;
  }

  h4 {
    font-size: 15px;
    line-height: 16.4px;
  }

  h5 {
    font-size: 14px;
    line-height: 15.4px;
  }

  h6 {
    font-size: 13px;
    line-height: 14.4px;
  }

  p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  blockquote {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
  }

  pre {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.5714px;
  }

  ul li {
    list-style-type: initial !important;
  }

  main ul > li:before {
    background: none;
    left: auto;
    top: auto;
    position: relative;
    content: none;
  }

  main img {
    max-height: none !important;
    padding: 8px 10px;
  }

  /* toggles */

  .accordion {
    border-top: 1px solid #ccc;
  }

  .btn-link {
    color: #000;
  }

  .collapse {
    display: block;
  }

  .layout-has-nav {
    display: block;
  }

  .layout-has-nav main {
    width: 100% !important;
  }

  .interior-feature {
    height: auto;
    background: none;
  }

  .interior-feature .interior-header {
    bottom: auto;
    position: relative;
  }

  .interior-feature .interior-header h1 {
    margin: 0;
  }
}

/* end print */

.text-light a,
.text-white a {
  color: #fff;
}

a {
  color: #0074b3;
}

main > .container {
  margin-top: 1rem;
  padding: 2rem 0;
}

main h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

.padded {
  padding: 3rem 0 2.5rem 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h2 {
  font-weight: 600;
}

h2.smaller {
  font-size: 1.5rem;
}

section {
  min-height: 1px;
}

.container-fluid {
  max-width: 1170px;
}

html {
  font-size: 1rem;
}

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

html {
  height: 100%;
}

body {
  background-color: #fff;
}

.flex-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 1px;
}

.flex-layout header,
.flex-layout #footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-layout-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 1px;
}

.flex-layout-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

::-moz-selection {
  color: #fff;
  background: #8d0a0a;
}

::selection {
  color: #fff;
  background: #8d0a0a;
}

kbd.ouc {
  display: none;
  background: #085330;
  color: #fff;
  font-family: Helvetica;
  font-size: .8rem;
  padding: .5rem;
  position: absolute;
  z-index: 100;
}

.sr-only.show-on-focus {
  width: auto;
  height: 0;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  padding: .5rem;
  color: #b31008;
  border: 3px solid rgba(141, 10, 10, 0.67);
  background: #fff;
  position: absolute;
  top: -5px;
  left: 0;
}

.sr-only.show-on-focus:focus {
  height: auto;
  clip: auto;
  overflow: auto;
  top: 0;
  -webkit-clip-path: initial;
          clip-path: initial;
  white-space: normal;
  display: inline-block;
  z-index: 1000;
}

