 

 
.layout-has-sidenav {   
  .sidebar-container, .content-container  { width: 100%; padding-top: 1rem; padding-bottom: 1rem; }
}

.layout-master {
  position: relative;
}

// @media (min-width: $screen-sm) and (max-width: $screen-xl - 1) {
//   .sidebar-container { padding-right: 20px;}
// }

@media (max-width: $screen-md - 1) {
  #maincontent {
    .layout-has-sidenav {  
      display: flex;
      flex-direction: column-reverse;
      .sidebar-container {   flex: 1; }
      .content-container {   flex: 1; }
    }
  }
}

@media (min-width: $screen-md) {
  .subnav .toggle { display:none;}
  .content-header.program-option {
    .breadcrumb, .header-info { padding-right: 33.33%; } // to wrap around sidenav
  }
  .layout-has-sidenav { 
    .sidebar-container { width: 33.33%; position: relative; }
    .content-container { width:66.66%; padding-right: 40px;}
    .sidebar-container.overview {
     // top: -150px; // TODO: This will probably be controlled by JS
      // background: #c8dcbbd4; // debugging
      position: static;
    }
    #sidebar-nav nav {
      position: absolute;
      top: 50px;
      padding: 0;
    }
  }
  
  .layout-has-sidenav { 
    display: flex;
    flex-direction: row;  
    min-height: 1px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .sidebar-container {
      // background: #eee;
      flex: 1 0 auto; 
      flex-direction: column;
    }
    .content-container { 
      flex: 1 0 auto;  
      //background:#ccc;
    }
  }
}  
@media (min-width: $screen-lg) {
  .content-header.program-option {
    .breadcrumb, .header-info { padding-right: 25%; } // to wrap around sidenav
  }
  
  .content-header.program .header-info {
    display:flex; 
    .header-content, .header-image { width: 50%; flex: 1; }
  }

  .layout-has-sidenav { 
    .sidebar-container { width: 25%;}
    .content-container { width:75%;}
  }
}
   
.page-interior  {border-top: 1rem solid #ebf7eb; padding-top: 1.75rem;}

 // .layout-has-left-nav

 @media (max-width: $screen-md - 1) {
  #maincontent {
    .layout-has-left-nav {  
      display: flex;
      flex-direction: column-reverse;
      .left-nav {   flex: 1; }
      .content-container {   flex: 1; }
    }
  }
}

@media (min-width: $screen-md) {
 
  .layout-has-left-nav { 
    .left-nav { width: 33.33%; position: relative; padding-right: 30px; }
    .content-container { width:66.66%; padding-left: 10px;}
    
  }
  
  .layout-has-left-nav { 
    display: flex;
    flex-direction: row;  
    min-height: 1px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
  }
}  
@media (min-width: $screen-lg) {
  .layout-has-left-nav { 
    .left-nav { width: 25%;}
    .content-container { width:75%;}
  }
}