.card {
  padding: 2rem;
  border-radius: .5rem;
  cursor: pointer;
  h2, h3, h4, h5 { color: $link-blue;
    &:hover { text-decoration: underline;} 
  }
  &>a {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    cursor:pointer;
    opacity: 0;
  } 
}
.card.theme-secondary {
  border-top: .375rem solid $secondary;
}