.sectional { 
  overflow: auto;
  overflow-x: hidden; // for those mean carousel scrollbars
  position: relative;
}
.sectional-background>* {
	z-index: 2;
	position: relative;
}
.sectional-background {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 200px;
}
.sectional-background:before {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;	
	background-color: rgba(255, 255, 255, 0);
	display: block;
}
.sectional-background.sectional.theme-01:before {
	background-color: rgba(0, 108, 104, 0.75);
}
.sectional-background.sectional.theme-02:before {
	background-color: rgba(0, 107, 166, 0.75);
}
.sectional-background.sectional.theme-03:before {
	background-color: rgba(0, 0, 0, 0.75);
}
.sectional-background.sectional.theme-04:before {
  background-color: rgba(240, 249, 248, 0.75);
}
.sectional-padded {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
} 
.sectional-padded-lg {
	padding-top: 3rem;
	padding-bottom: 3rem;
} 
@media (min-width: $screen-md) {
  .sectional-padded {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  } 
  .sectional-padded-lg {
    padding-top: 5rem;
    padding-bottom: 5rem;
  } 
}
.sectional.theme-01, .sectional.bg-primary  {
	background-color: $primary;
}
.sectional.theme-02 {
	background-color: #006ba6;
}
.sectional.theme-03 {
	background-color: #000;
}
.sectional.theme-04, .sectional.bg-light {
	background-color: $light;
}

.sectional2 img {
	max-width: initial;
	width: 100%;
	height: auto;
}
/* sectional snippet overrides */
.sectional-inverted {
  .card {
  color: $text-dark; // for cards on dark bg
  }
  .card-title, .card-text {
    a, a:visited, a:focus, a:active, a:hover {
    text-shadow: none;
    color: $link-blue;
    }
  }
}
.sectional-inverted h3.accordion-handle {
	background: rgba(255, 255, 255, 0.21);
	margin-bottom: 0;
	border-bottom: 0;
	font-weight: bold;
}
.sectional-inverted .accordion-content {
	background: rgba(255, 255, 255, 0.1);
}
.sectional .accordion-inner {
	padding: 10px 25px;
}
.sectional-inverted .accordion-handle:after {
	background-image: url("/_resources/img/graphics/arrow-double-down-white.png");
}
.sectional-inverted .accordion-handle.active:after {
	background-image: url("/_resources/img/graphics/arrow-double-up-white.png");
}
.sectional .accordion-content {
	display: none;
}
.sectional .accordion-content.active {
	display: block;
}
/* end sectionals */