.sidebar-container .navbar-collapse {
  flex-direction: column;
}
.sidebar-container .card { width: 100%;  
  li { margin-bottom: .5rem; }
  li + li { margin-top: .5rem;}
}
// Overview TOC menu
.sidebar-container .card-program-heading {
  h2 { color:#000; font-size: 1rem; font-weight: 600;
    a { color: inherit; text-decoration: none; 
  }}
}
