footer#footer { 
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $white;
  font-size: 1rem; 
  text-align:center;
  .navbar-brand { padding-top: 0;}
  .col-12 { order:2;}
  
  p, a, dl, ul, ol { font-size: inherit;}
  .footer-logo {
    margin-bottom: 3rem; 
    img { 
      width: auto; 
      max-height: 120px;  
    }
  } 
  .navbar-brand img { max-width: initial; }
  .links { 
    a { color: $link-blue; }
    ul {
      padding:0;
      list-style: none; 
    }
    li {
      padding-bottom: .5rem;
      line-height: 1rem;
    }
    li + li {padding-top: .5rem;}
    .list-inline li { 
      margin-right: 1rem;
      + li {
      padding-top:0;
      }
    }
  }
  .footer-social a { 
    color: $white;  
    transition: color .2s ease-in-out; 
  }
  .footer-social a:hover { 
    color: $minty-green;    
  }
}

@media (min-width: $screen-md) {
  footer#footer { text-align: left; 
    .footer-logo {
      margin-bottom: 1rem;      
    img { width: auto; max-height: 80px;  }
    }
  }
  .footer-buttons .btn:first-child { margin-top:0;}
}

footer#footer .back-to-top {
  position: fixed;
  right: 30px;
  bottom: 25px;
  z-index: 20;
  display: block;
  color: white;
  font-weight: 700;
  font-size: .9rem;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  &.visible {
    opacity: 1;
  }
  &:hover {
    text-decoration: none;
  }
  &:hover:before {
    background-color: darken($primary,10);
  }
  &:after {
    position: absolute;
    top: -20px;
    left: 25px;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../../resources/img/icons/arrow-up-white.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
    content: "";    
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 90px;
    height: 90px;
    margin-top: -36px;
    margin-left: -11px;
    background-color: #006c68;
    border-radius: 50%;
    transition: background-color .2s ease-in-out;
    content: "";
  }
}
@media screen and (max-width: 1025px) {
  footer#footer .back-to-top {
    position: relative;
    right: auto;
    bottom: auto;
    padding-top: 50px;
    padding-bottom: 15px;
    &:before {
      top: 15px;
      left: 50%;
      margin: 0 auto;
      margin-left: -45px;
    }
    &:after {
      top: 30px;
      left: 50%;
      width: 15px;
      height: 15px;
      margin-left: -7.5px;
    }
  } 
}