
.quote-feature {
  color:#000;    
  img { 
    text-align: left;  
    background:linear-gradient($primary, $primary) no-repeat 1rem 1rem;
    background-color: transparent;
    padding: 0 1rem 1rem 0;
    margin-bottom: 0.70625rem; 
  }  
  blockquote {
    font-size: 2rem;
    color: $text-dark;
    position: relative;
  }
  blockquote:before {
    content: "";
    background-image: url('/resources/img/icons/copy-6@3x.png');
    background-position: top left; 
    background-repeat: no-repeat;
    height: 20.6px;
    width: 26.2px;
    display: block;
    background-size: contain;
  }
  figcaption { font-size: 1rem; color: $text-dark; }
  figcaption strong { color:#000; }
}
@media (min-width: 768px) {
  .quote-feature {
    display:flex; 
    align-items: center;
    blockquote:before {
      width: 52.4px; 
      height: 41.1px;
      position: absolute;
      left: -4.25rem;
    } 
    .quote-feature-text {
      flex: 0 0 75%;
      padding-left: 6rem;
    }
    .quote-feature-img {
      flex: 0 0 25%;
    }
  }
}