.primary { color: $primary; }
.more-arrow:after {
  content:" \2192";  
} 
.clear { clear:both; }
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p, ul, dl, ol {
  color: $text-dark;
} 

.bg-primary {
  color: set-text-color($primary);
  * { color: inherit; } 
  a {
    color: inherit;
    @include link-underline($primary, set-text-color($primary), $primary); // border-bottom: 1px solid rgba(255, 255, 255, 1); 
  }
  a:hover {
    // border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    @include link-underline($primary, #b1d1ce, $primary);
  }
  @include headings(1, 6) {
    color: set-heading-color($primary);
  }
}

.gray {
  color: $text-lightgray;
  p, ul, dl, ol { color: $text-lightgray;
    &.small, &.medium, &.large { color: darken($text-lightgray, 10)}
  }
  
}
p, ul, dl, ol {
  &.gray {color: $text-lightgray;
  &.small, &.medium, &.large { color: darken($text-lightgray, 10)}
  }
}
