.homepage-banner { background:#000;   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; 
  position: relative; 

  .heading { font-size: 3.4375rem; line-height: 1.16; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); font-weight: 900;}
  p { font-size: 1.5rem; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
}
.homepage-banner .hero {
  min-height: 670px;
  margin-top: 0;

}
.homepage-banner .hero.bg-primary {
  background-color:transparent !important;
 
}
@media screen and (max-width: 900px) {
  .homepage-banner .hero .hero-image-wrapper {
    position: relative;
    height: auto;
    padding-bottom: 50%;
}
}
.homepage-banner .hero .hero-image-wrapper {
    background-size: cover;
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background: linear-gradient(
      to top,
      #000,
      rgba(#000, 0)
    );
    opacity:.5;

}
.homepage-banner .hero-caption {
  position: absolute;
  bottom: 0;
  padding: 2.5rem;
  margin: 0 auto;
  max-width: 1200px;
  display: block;
  right: 0;
  left: 0;
  z-index: 2;
  .heading, .desc {
    max-width: 600px;
  }
}


.homepage-expand {
  display:none; 
  &>.container-fluid { 
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .row {
      z-index: 4;
      position: relative;
    }
}
&>.arrow-marker { 
  position: relative;
  max-width: 1200px;  
  margin: 0 auto;
}
  &>.arrow-marker::before {
    content: "";
    position: absolute;
    left: 6rem;
    width: 2rem;
    height: 2rem;
    top: -1rem;
    background-color: #fff;
    /* border-top-right-radius: 2rem; */
    border-color: transparent;
    /* border-top-left-radius: 2rem; */
    z-index: 2;
    transform: rotate(45deg);
  } 
}
.homepage-expand.show { display: block;}