.breadcrumb {
  background: none;
  padding: 0;
  font-size: 1rem;
  color: $text-dark;
  line-height: 1.5;
  ol {
    list-style: none;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    clear: both;
    width: 100%;
    display: block;
    margin-bottom: 0;
    margin-left:0;
    @extend %list-unstyled;
  }
  ol+ol {
    margin-top: .5rem;
  }
  li {
    @extend %list-unstyled;
    line-height: inherit;
    font-size: inherit;
    display: inline;
    padding: 0;
    a {
      color: inherit;
    }
    a.active {
      color: $primary;
      font-weight: 700;
      cursor: default;
    }
  }
 
  ol.condensed {
    li:nth-of-type(10n+2),
    li:nth-of-type(10n+3),
    li:nth-of-type(10n+4),
    li:nth-of-type(10n+5),
    li:nth-of-type(10n+6),
    li:nth-of-type(10n+7),
    li:nth-of-type(10n+8),
    li:nth-of-type(10n+9),
    li:nth-of-type(10n) {
      display: none;
    }
    li:last-child {
      display: inline !important;
    }
    
  }
}
.breadcrumb ol.condensed {
  li:after {
    content: "..."
  }
  li:last-child:after {
    content: ''
  }
}
.breadcrumb ol a { display: inline-block; vertical-align: top; }
.breadcrumb ol li {
  margin: auto;
}
// Carat styling 
.breadcrumb ol {
  li+li:before {
    // content: '>';
    content: '\f054';
    font-family: $font-awesome;
    display: inline-block;
    text-align: center;
    padding: 4px .45rem 0 .35rem;
    font-weight: 900;
    font-size: .7rem;
    opacity: .7;
    bottom: .1rem;
  }
} 
.bg-primary,
.bg-primary .breadcrumb {
  color: #fff;
  li a {
    text-shadow: none;
    background-image: none;
  }
  li a.active {
    color: inherit;
    font-weight: bold;
  }
}

.content-header .breadcrumb {
  margin-bottom: 1.5rem;
  margin-top: .5rem;
}

main, .sectional, .content-container {
  .breadcrumb ol { margin-left: 0;}
}