.primary { color: $primary;
  @include headings(1,6) { color: $primary; }
}
.dark { color: $text-black; 
  @include headings(1,6) { color: $text-black; }
}

.icon-watch:before { 
  content: " ";
  background-image: url(../../resources/img/icons/play-icon.svg);
  background-position: left;
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px; 
  background-size: contain;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;  
} 
a.more-arrow, ul.more-arrow > li a {
  padding-right: 1.4rem !important; 
  display: block; // has to be to prevent wrapping
}
a.more-arrow:after, ul.more-arrow > li a:after { 
  content: "";
  background-image: url(../../resources/img/icons/arrow-gap@3x.png);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1.4rem; 
  margin: 0 auto;
  background-size: 1.2rem;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 0; 
  transform: rotate(0); 
  transition: background-position .15s ease-in-out, margin-left .15s ease-in-out, margin-right .15s ease-in-out;
  margin-right: -1.4rem; 
  display: inline-block; 
} 
a.more-arrow:hover:after, ul.more-arrow > li a:hover:after {
  background-position: 100% 70%;
}
.clear { clear:both; }
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.text-muted { color:$text-midgray !important;}

.bg-primary, .sectional-inverted {
  color: set-text-color($primary);
  * { color: inherit; } 
  a {
    color: inherit;
    text-shadow: none;
    @include link-underline($primary, set-text-color($primary), $primary); // border-bottom: 1px solid rgba(255, 255, 255, 1); 
  }
  a.btn {
    background-image: none;
    text-shadow: none;
  }
  a:hover {
    // border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    @include link-underline($primary, #b1d1ce, $primary);
  }
  a.btn:hover {
    background-image: none;
    text-shadow: none;
  }
  @include headings(1, 6) {
    color: set-heading-color($primary);
  }
}
.content-header {
  padding-top: 24px; // distance from stripe to img
  padding-bottom: 38px;
}
.content-header.program:after { content: ''; display: table; clear:both;}
.content-header.program .header-image img { width: 100%; max-width: auto;}
.gray {
  color: $text-lightgray;
  p, ul, dl, ol { color: $text-lightgray;
    &.small, &.medium, &.large { color: darken($text-lightgray, 10)}
  }
  
}
p, ul, dl, ol, div {
  &.gray {color: $text-lightgray;
  &.small, &.medium, &.large { color: darken($text-lightgray, 10)}
  }
}

img.rounded { border-radius: 10px !important; }
@media (min-width: $screen-md) {
  .md-flex-5 > div { width: 20%; }
}


/* custom link styles */
.fa-link-pdf:after {
  content: "\f1c1"; 
}
.fa-link-external:after {
  content: "\f35d";
  font-weight: 600;
}
.fa-link-external:after, .fa-link-pdf:after {
  font-family: $font-awesome;
  font-size: .8em;
  padding: 0 .4em 0 .3em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: initial;
  white-space: nowrap;
}
/* end custom link styles */
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
  background: #f5f5f5;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.border-between {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  &:last-child { border-bottom:0; }
}
.border-around {
  padding-top: 1rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(0,0,0,.1);
  &:last-child { border-bottom:1px solid rgba(0,0,0,.1); padding-bottom: 1rem; }
}

.bg-inverted, .sectional-inverted {
  .contact-us-box {
    border: solid 2px rgba(255, 255, 255, 0.1);
    p, dd, strong { color: $light; } 
    @include headings(1,6) { color: $light; }
  }
  a.more-arrow:after, ul.more-arrow > li a:after { 
    background-image: url('../../resources/img/icons/inverse/arrow@3x.png');
  }
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* offset backgrounds */
.bg-offset-yellow-wave {
  background-color: $secondary;
  background-image: url('../../resources/img/graphics/backgrounds/pattern-yellow-waves.png')
}
.bg-offset-primary-wave {
  background-color: $primary;
  background-image: url('../../resources/img/graphics/backgrounds/pattern-green-waves.png')
}
.bg-offset-blue-wave {
  background-color: $link-blue;
  background-image: url('../../resources/img/graphics/backgrounds/pattern-blue-waves.png')
}
.bg-wave-mint-top { 
  background: url('../../resources/img/graphics/backgrounds/wave-mint-top-tall-mobile.svg');
  background: url("../../resources/img/graphics/backgrounds/wave-mint-top-tall-mobile.svg") center 30% / contain no-repeat, linear-gradient(0deg, $light 70%, transparent 70%);
}
@media (min-width: $screen-md) {
  .bg-wave-mint-top {
    background: url('../../resources/img/graphics/backgrounds/wave-mint-top-tall-desktop.svg');
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
  }
}
// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
//   .bg-offset-yellow-wave {
//     background-image: url('../../resources/img/graphics/backgrounds/pattern-yellow-waves@2x.png')
//   }
//   .bg-offset-primary-wave {
//     background-image: url('../../resources/img/graphics/backgrounds/pattern-green-waves@2x.png')
//   }
//   .bg-offset-blue-wave {
//     background-image: url('../../resources/img/graphics/backgrounds/pattern-blue-waves@2x.png')
//   }
// }
.bg-offset-bottom-right { 
  margin-top: 10px;
  margin-left: 10px; 
}
.bg-offset-bottom-right > * { 
    position: relative; 
    right: 10px;
    bottom: 10px;
}
@media (min-width: $screen-lg) {
  .bg-offset-bottom-right { 
    margin-top: 20px;
    margin-left: 20px; 
  }
  .bg-offset-bottom-right > * {  
    right: 20px;
    bottom: 20px;
  }
}
.bg-pale-grey, .bg-pale-gray {
  background-color: $pale-grey;
}
.bg-orange {
  background-color: $shoreline-orange;
}
.bg-primary, .sectional-inverted {
  .bg-white, .bg-light {
    color: $text-dark;
    * { color: inherit; } 
    p, ul, dl, ol { 
      color: $text-dark;
    }  
    a {
      color: inherit;
      text-shadow: none;
      @include link-reset($link-blue);
    } 
    // a:hover {
    //   // border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    //   @include link-underline(#fff, darken($link-blue, 5), darken($link-blue, 5));
    // }
    a.btn:hover {
      text-shadow: none;
      background-image: none;
    }
    h1, .h1, h2, .h2 { color: $primary; }
    h3, h4, h5, h6,
    .h3, .h4, .h5, .h6 {
      color: $text-black;
    }
  }
}
.hero-bg-container {
  position: relative;
  width: 100%;
  min-height: 3rem;
}
.hero-bg-offset {
  position: absolute;
    // height: 100%;
    // width: 100%;
    right: 0;
    
    // left: auto;
    // top: auto;
    // bottom: auto;
}
// .hero-bg-offset .bg-feature {
//   width: 100%;
//   padding-bottom: 56.25%;
//   background-image: url(../../resources/img/stock/girl-listening.jpg);
//   background-size: cover;
// }

.bg-primary-gradient-top-down {
  background: rgba(0,104,94,1);
  background: linear-gradient(to bottom, rgba(0,104,94,1) 0%, rgba(0,104,94,1) 10%, rgba(0,104,94,0.59) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00685e', endColorstr='#00685e', GradientType=0 );
}
.bg-cover {
  background-size: cover;
}
@media (max-width: $screen-sm - 1px) {
  .bg-image-mobile-none {
    background-image: none !important;
  }    
}

.toc-icon-primary { color: $primary !important;
  path, line, polygon { fill: $primary !important; } 
}
.toc-icon-secondary { color: $secondary !important;
  path, line, polygon { fill: $secondary !important; } 
}
.toc-icon-orange { color: $shoreline-orange !important;
  path, line, polygon { fill: $shoreline-orange !important; } 
}
.toc-icon-bright-green { color: $shoreline-bright-green !important;
  path, line, polygon { fill: $shoreline-bright-green !important; } 
}
.toc-icon-linkblue { color: $link-blue !important;
  path, line, polygon { fill: $link-blue !important; } 
}
 

.toc-links-icons {
  padding: 1rem;
  ul {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  ul, dl {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 0;
      text-decoration: none;
    }
    // todo: review mismatch .fa, versus svg/img
    .fa, .fas, .far, .fa, .fal {
      float: left;
      width: 5rem;
      font-size: 2rem; 
      text-align: center;
    }
    .svg-icon-medium {
      position: relative;
      top: -.25em;
      margin-right: .75rem;
      margin-bottom: -.5em;
      margin-left: .75rem;
      
    }
  }
  .toc-title {
    flex-grow: 1;
  }
}
.svg-icon-medium {
  display: inline-block;
  width: 35px;
  height: 35px;
  svg {
    width: 35px;
  }
}
@media (min-width: $screen-lg) {
  .toc-links-icons {    
    padding: 3rem;
    ul {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    ul, dl {
      a { 
        padding: 1.25rem 0; 
      }
    } 
  }
  .svg-icon-medium { 
    width: 50px;
    height: 50px;
    svg {
      width: 50px;
    }
  }
} 