.homepage-banner .expand-button { 
  width: 8rem;
}
.homepage-banner { 
  position: relative; 
  overflow: hidden; 
  background-color: $primary;   
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  .heading {
    margin-top:0;
    font-weight: 900;
    font-size: 2.4375rem;
    line-height: 1.16;
  }
  p { font-size: 1.5rem;  }
}
.homepage #maincontent { margin-bottom: 0; }
.homepage-banner .hero {
  min-height: auto;
  margin-top: 0;
  padding-top: 50%;
}
.homepage-banner .hero.bg-primary {
  background-color:transparent !important;
}
.homepage-banner .hero-caption {
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}
@media screen and (max-width: 900px) {
  .homepage-banner .hero .hero-image-wrapper {
    position: relative;
    height: auto;
    padding-bottom: 50%;
  }
}
.homepage-banner .hero .hero-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: cover;
}
.homepage-banner .hero-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2; 
  display: block;
  width: 100%; 
  max-width: $screen-xl;
  margin: 0 auto;
  .heading, .desc {
    max-width: $screen-xl/2;
  }
}
.homepage-expand.show {
  &>.arrow-marker::before { 
    display: block; 
  } 
}
.homepage-expand {
  position: relative;
  z-index: 1;
  max-height: 0;
  overflow: none;
  transform: scaleY(0); 
  transition: max-height 500ms ease-in-out;

  &>.container-fluid { 
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    visibility: hidden;
    .row {
      position: relative;
      z-index: 4;
    }
  }
  &>.arrow-marker { 
    position: relative;
    max-width: $screen-xl;  
    margin: 0 auto;
  }
  &>.arrow-marker::before {
    position: absolute;
    top: -.5rem;
    left: 4.5rem;
    z-index: 2;
    display: none; 
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-color: transparent;
    transform: rotate(45deg);
    content: "";
  } 
}
.homepage-expand.show { 
  max-height: 999px;
   overflow: initial; 
  transform: scaleY(1); 
  transition: max-height 500ms ease-in-out;
  &>.container-fluid { 
    visibility: visible;
  }
}
@media (min-width: $screen-sm) {
  .homepage-expand>.arrow-marker::before {
    top: -1rem;
    left: 6rem;
  }
  .homepage-banner {
    background-color: #000;
    background-position: center;
    background-size: cover;
 
    p, .heading {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    .hero {
      min-height: 400px;
      padding-top:0;
      padding-bottom: 0;
    }
    .hero .hero-image-wrapper {
      background: linear-gradient(
        to top,
        #000,
        rgba(#000, 0)
      );
      opacity:.5;
    }
    .hero-caption { 
      position: absolute;
      padding: 2.5rem;
    }
  }
}
@media (min-width: $screen-lg) { 
  .homepage-banner .hero {
      min-height: 670px; 
  }
  .homepage-banner .heading {
    font-size: 3.4375rem;  
  }
}

// Vertically center text on homepage banner
@media (min-width: $screen-sm) { 
  .homepage-banner .hero { 
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .homepage-banner .hero-caption { 
    top: auto;  
    bottom: auto; 
    display: flex;
    flex:1; 
    flex-direction: column;
    justify-content: center;
    height: auto;  
    height: 100px; // after auto, ie 11
    min-height: 100%;
    margin: auto; 
  } 
}
.toc-links-icons {
  padding-top: 2rem;
  padding-bottom: 2rem;
  ul, dl {
    a {
      display: block;
      padding: 1.5rem 0;
      text-decoration: none;
    }
    .fa, .fas, .far, .fal {
      float: left;
      width: 5rem;
      font-size: 2rem; 
      text-align: center;
    }
  }
  
}

