.nav-container .navbar-collapse {
  flex-direction: column;
}
.nav-container .card { width: 100%; 
  li { margin-bottom: .5rem; }
  li + li { margin-top: .5rem;}
}
.nav-container .card-program-heading {
  h2 { color:#000; font-size: 1rem;
    a { color: inherit; text-decoration: none; 
  }}
}
