.homepage-banner .expand-button { 
  width: 8rem;
}
.homepage-banner { 
  background:$primary;   
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden; 
  position: relative; 

  .heading {
    font-size: 2.4375rem;
    line-height: 1.16;
    font-weight: 900;
  }
  p { font-size: 1.5rem;  }
}
#maincontent.homepage { margin-bottom: 0; }
.homepage-banner .hero {
  min-height: auto;
  margin-top: 0;
  padding-top: 50%;
}
.homepage-banner .hero.bg-primary {
  background-color:transparent !important;
}
.homepage-banner .hero-caption {
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}
@media screen and (max-width: 900px) {
  .homepage-banner .hero .hero-image-wrapper {
    position: relative;
    height: auto;
    padding-bottom: 50%;
  }
}
.homepage-banner .hero .hero-image-wrapper {
  background-size: cover;
  position: absolute;
  z-index:1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center bottom;
}
.homepage-banner .hero-caption {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 100%; 
  max-width: 1200px;
  display: block;
  right: 0;
  left: 0;
  z-index: 2; 
  .heading, .desc {
    max-width: 600px;
  }
}
.homepage-expand.show {
  &>.arrow-marker::before { 
    display: block; 
  } 
}
.homepage-expand {
  transform: scaleY(0); 
  max-height: 0;
  overflow: none;
  transition: max-height 500ms ease-in-out;
  position: relative;
  z-index: 1;

  &>.container-fluid { 
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .row {
      z-index: 4;
      position: relative;
    }
  }
  &>.arrow-marker { 
    position: relative;
    max-width: 1200px;  
    margin: 0 auto;
  }
  &>.arrow-marker::before {
    content: "";
    display: none; 
    position: absolute;
    left: 4.5rem;
    width: 2rem;
    height: 2rem;
    top: -.5rem;
    background-color: #fff;
    border-color: transparent;
    z-index: 2;
    transform: rotate(45deg);
  } 
}
.homepage-expand.show { 
  max-height: 999px;
   overflow: initial; 
  transform: scaleY(1); 
  transition: max-height 500ms ease-in-out;
}
@media (min-width: $screen-sm) {
  .homepage-expand>.arrow-marker::before {
    left: 6rem;
    top: -1rem;
  }
  .homepage-banner {
    background: #000;
    background-size: cover;
    background-position: center;
 
    p, .heading {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    .hero {
      padding-bottom: 0;
      padding-top:0;
      min-height: 400px;
    }
    .hero .hero-image-wrapper {
      background: linear-gradient(
        to top,
        #000,
        rgba(#000, 0)
      );
      opacity:.5;
    }
    .hero-caption {
      position: absolute;
      padding: 2.5rem;
    }
  }
}
@media (min-width: $screen-lg) { 
.homepage-banner .hero {
    min-height: 670px;
  }
  .homepage-banner .heading {
    font-size: 3.4375rem;  
  }
}