@media print {
  * {
    text-align: left !important;
  }

  html {
    margin: 0 !important;
    padding: 0 !important;
  }

  .container-fluid,
  .layout-has-left-nav {
    max-width: 100%;
  }

  .layout-has-left-nav .content-container,
  .layout-has-left-nav .left-nav.accordion,
  .layout-has-left-nav.layout-has-sidebar .content-container {
    width: 100%;
  }
  .layout-has-left-nav .left-nav {
    display: none; 
  }



  body {
    margin: 10px !important;
    padding: 0 !important;
    font-size: 9pt !important;
    background: #fff !important;
  }

  a {
    color: #3333ff !important;
    font-weight: 400;
    text-decoration: underline !important;
  }

  th,
  td {
    color: #2f2f2f !important;
    border-color: #ccc !important;
  }

  thead th {
    font-size: 15px;
    border-bottom: 1px solid #000 !important;
  }

  .header-logo.d-none {
    display: block !important;
  }

  #footer,
  .subfooter,
  #searchmenusub,
  nav,
  #skiptocontent,
  .header-actions,
  kbd.ouc,
  kbd.small {
    display: none !important;
  }

  #header .navbar-brand {
    padding: 0;
    padding-left: 1rem;
    svg {
      polygon, path, line {
        fill: #000;
      }
    }
  }

  .padded,
  .main-content {
    margin: 0;
    padding: 0;
  }

  /* print */
  header#header {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 6px !important;
    border-bottom: 0;
  }

  blockquote {
    border: 0;
  }

  a[href]:after {
    content: "";
  }

  p,
  td,
  th,
  li,
  .breadcrumb ol a,
  .accordion .card .card-body {
    font-size: 16px;
    line-height: 1.6;
  }

  .accordion .collapse:not(.show) {
    visibility: visible !important;
  }

  main ul>li {
    margin-bottom: 5px;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 blockquote,
  pre {
    margin-top: 1.5em;
    padding: 0;
    color: $text-black !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
  }


  h1 {
    font-weight: 500;
    font-size: 24px;
  }

  h2,
  h3,
  .xl {
    font-weight: 500;
    font-size: 16px;
  }

  h2,
  .xxl {
    font-size: 18px;
  }

  h4,
  .large {
    font-size: 15px;
  }

  h5,
  .medium {
    font-size: 14px;
  }

  h6,
  .small {
    font-size: 13px;
  }

  p {
    color: $text-black;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }

  blockquote {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
  }

  pre {
    font-weight: 400;
    font-size: 13px;
    line-height: 18.5714px;
  }

  main img {
    max-height: none !important;
    padding: 8px 10px;
  }
  main .card-icon .icon img {
    padding: 0;
  }

  /* toggles */
  .accordion .card-header {

    h2,
    h3,
    h4,
    h5 {
      .btn {
        font-size: 16px;
        background-color: #eee !important;
      }
    }
  }

  button,
  .btn {
    color: $text-black;
    font-size: 14px;
    text-align: center !important;
    text-decoration: none;
    background-color: #eee !important;
    border: 1px solid #000 !important;
  }
  .accordion .accordion-header .btn {
    border: 0 !important;
  }
  .btn.btn-link + .btn.btn-link { padding-left: .5rem; }

  .accordion .btn-toggle:before {
    display: none;
  }

  .btn-link {
    color: $text-black;
  }

  .collapse {
    display: block;
  }

  .layout-has-nav {
    display: block;
  }

  .layout-has-nav main {
    width: 100% !important;
  }

  .collapse:not(.show) {
    display: block;
  }

  .interior-feature {
    height: auto;
    background: none;
  }

  .page-interior {
    margin-bottom: 0;
    border-top: 0;
  }

  .interior-feature .interior-header {
    position: relative;
    bottom: auto;
  }

  .interior-feature .interior-header h1 {
    margin: 0;
  }

  .content-header,
  .content-header.bg-primary {
    margin-top: 0;
    color: $text-black;
    border-top: 0;
  }

  .bg-primary {
    color: $text-black;
    background-color: transparent !important;

    ol,
    .btn,
    .btn-primary,
    .btn-secondary,
    .btn-tertiary,
    .btn-important {
      color: $text-black;
    }
  }

  abbr[title]::after {
    content: ' ('attr(title) ')';
  }

  .alert {
    background: #eee;
    * {
      color: #000; 
    }
  }
  .alert.alert-padded {
    padding: 2.5rem;
  }
  body > .alert, header#header > .alert {
    display: none;
  }
  .card-program-heading {
    display: none;
  }
  .center-cropped {
    height: auto;
    background: none !important;
  }
  .center-cropped img {
    width: 300px;    
    max-width: 100%;
    height: auto;
    padding: 15px 15px;
    opacity: 1;
  }


  // list icons inverse
  .bg-inverted, .sectional-inverted {
    .tab-content,
    .list-bulleted dt:before,
    .list-bulleted.list-bulleted.list-ordered  dt:before,
    ol li:before,    
    .large-list      
     { color: $text-black;   } 
 
    ul li:before {
      background-color: $text-black;
    }
    ol,
    ul {
      ol li:before,
      ul li:before {
        color: $text-black;
      }
    }
    ul.features,
    ul.icon-check,
    ul.icon-x,
    ul.icon-box {
      li:before {  
        background-image: url('../../resources/img/icons/list-check.svg');      
      }
    }
    ul.icon-x li:before { 
      background-image: url('../../resources/img/icons/times.svg');      
    }
    ul.icon-box li:before { 
      background-image: url('../../resources/img/icons/square-o.svg');      
    }
  }
}

/* end print */