header#header h1 {
  margin: 0;
}
header#header {
  padding-bottom: 0;
  overflow-x: hidden;
}
.header-logo { padding-right:0;}
.navbar-brand {
  line-height: 1.2rem;
  padding: 5px 0; 
  text-align: center;
  margin-right:0;
  max-width: 160px;
  color: $primary;
  path, polygon, rect {
    fill: $primary;
  }
}
.navbar-brand svg {
  width: 100%;
  height: auto;
}
.navmenu a.navbar-brand {
  color: $primary;
}

.navbar-brand img {
  max-width: 160px; // chged from 200px per convo w/ Adam
  height: auto;
  width: 100%;
}

.navbar {
  padding: 0;
}
.search-container {
  label {
    flex: 1;
    margin-bottom: 0;
  }
  input {
    line-height: 1.15;
    border: solid 2px transparent;
    border-radius: 1.5625rem;
  }  
}
form.siteSearch {
  width: 100%;
}
.main-search{
  width: 100%; 
  min-width: 165px; // IE 11 
  
    label { 
      width: calc(100% - 50px);
      margin-bottom: 0; 
    } 
  
  
  &.input-group > label .form-control {
    background-color: transparent;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }
  &.input-group > .input-group-prepend > .input-group-text {
    margin-right: 1px;
    padding: .375rem .75rem .375rem 1.25rem;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-right: 0;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
  }
  .entersearch {        
    height: auto; 
    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    padding-left: 0;
    font-size: 1.1875rem;
    border-color: rgba(0, 0, 0, 0.2) !important;
  }
  .entersearch.border {
    border-width: 2px !important;
  }
 transition:border-color .02s ease;
  &:focus-within {
    .input-group-prepend> .input-group-text, .entersearch {
      border-color: $primary !important;
      box-shadow: none;
    }
  }
}
.navmenu .navbar-brand {
  padding: 8px 0;
  img {
    width: 75px;
  }
} 

@media (min-width: $screen-lg) {
  header#header {
    padding-bottom: 1.5rem;
  }
  .searchbox input.form-control {
    display: none;
  }
  #searchCollapse.navbar-collapse {
    display: none !important;
  }
  .searchbox .btn {
    color: $primary;
    background-color: transparent;
    border: 0;
    border-radius: 0;
  }
  .searchbox.active .btn {
    color: #fff;
    background: $primary;
  }
  .search-container,
  .navbar-container {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .search-container {
    max-width: 165px;
    padding: 0 .5rem
  }
  .header-actions {
    flex-wrap: nowrap;
    justify-content: flex-end;
    .search-container {
      position: relative;
      top: -.25rem;
      .btn { margin-top:0; margin-bottom:0;}
    }
  }
  .navbar-container {
    width: 100%; 
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: 0;
    }
   
  }
  .searchbox input.form-control {
    position: absolute;
    top: -1px;
    right: 0;
    width: 170px;
  }
  .searchbox .input-group-append {
    position: relative;
    z-index: 5;
    margin-left: -1px;
  }
  .navbar-brand {
    padding-top: 24px;
  }
  .searchicon .fa-search {
    display: none;
  }
}

@media (min-width: 1025px) {
  .search-container {
    max-width: 237px;
  }
}

@media (max-width: $screen-lg - 1) {
  .navbar-collapse .search-container,
  .navbar-collapse .search-container .searchbox,
  .form-inline {
    position: relative;
    display: block !important;
    clear: both;
    color: #fff;
  }
  .col-sm-9.d-flex.header-actions {
    display: block !important;
  }
  .searchbox .btn {
    color: #fff;
  }
  .navbar-nav {
    display: block;
  }
  .searchform-mobile {
    margin-bottom: 1rem;
    .form-inline .input-group {
      display: flex;
      width: 100%;
    }
  
    button.searchicon.btn.btn-primary {
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
    p a {
      padding: .5rem;
      color: #fff;
    }
  }
}
