.quicklinks {
  position: relative;
  padding-left: 0; 
  
  clear: both;
  a { padding: .5rem 1rem; } 
} 
.quicklinks.list-1 li a {
  padding: .5rem 1rem;
  color: $text-dark;
  font-weight: 600;
  font-size: 1rem;   
  text-align: left;
}
@media (min-width: $screen-lg) {
  .quicklinks.list-1 {
    li a {
      padding: 5px 10px;
      font-weight: 400;
      font-size: 1rem;      
      text-align: center;
    }
  }
  .quicklinks.list-2 {
    li a, li .btn {
      font-size: .875rem;
    } 
  } 
} 
// @media (min-width: $screen-md) {
 
//   .quicklinks {
//     background: #face8d;
//     // &.list-1, &.list-2 {
//     //   display: inherit;
//     //   li { flex: none;}
//     // }
//   }
// }
@media (max-width: $screen-lg - 1px) {
// .megamenu .quicklinks.list-2 { 
//   flex-wrap: wrap;
// }
// .megamenu .quicklinks li.has-button:before {
//   content: " ";
//   clear: both;
//   width: 100%; 
//   display: block;
// }
.megamenu .quicklinks li.has-button { 
  width: 100%; 
  display:block; 
  min-width: 300px; 
  padding-right: 15px; 
  padding-left:15px; 
  padding-top:8px; 
  padding-bottom: 8px; 
}
}
// @media (min-width: $screen-sm) { 
//   .megamenu .quicklinks li.has-button  { padding-right: 15px;}
// }
@media (min-width: $screen-lg) { 
  .quicklinks {
    a { 
      padding-right: .5rem; 
      padding-left: .5rem; 
    }
    a.btn, button.btn {
      display: inline-block;
      width: auto;
      min-width: auto;
      padding-top: .5rem;
      padding-right: 1rem;
      padding-bottom: .5rem;
      padding-left: 1rem;
      text-align: center;
    } 
    a.btn-important {
      color: #fff;  
    }
  } 
  .megamenu .quicklinks li {
    display: inline-block;
    width: auto;
  }
  // .quicklinks.list-1 {
  //   float:none; 
  // }
  .quicklinks.list-2 {
    margin-top: .5rem;
  }
  .quicklinks {
    border-bottom: 0;
    padding: 0;
  }
  .header-actions {
    padding-top: 15px;
    padding-bottom: 18px;
    .navmenu .has-button {
      top: -.1rem;
      position: relative;
      margin-left: 10px;
      .btn { 
        margin-top:0; 
        margin-bottom:0;
      }
    }
  } 
  .navmenu .quicklinks a strong {
    color: $primary
  }
  .navbar.utility-wrapper {
    align-items: center;
    justify-content: flex-end;
  }
}