.combobox-container {
  button.dropdown-toggle:after {
    display: block;
    width: .7rem;
    height: .7rem;
    margin: 0 auto;
    background-image: url(../../resources/img/icons/line@3x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0;
    transform: rotate(90deg);
    content: "";
  }
  input.dynamic-selectbox {
    position: relative;
    padding-left: 1.25rem;
  }
  input.dynamic-selectbox::placeholder {
    color: #000;
    // font-weight: 600;
  }
  ul.dropdown-menu {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }
  li.active {
    box-shadow: 0 0 3px #0070ff;
  }
}