$btn-important: $shoreline-orange;
$btn-primary: $primary;
$btn-secondary: transparent;
$btn-tertiary: transparent;
.btn {
  white-space: normal;
  min-width: 100px;
  cursor: pointer;
  font-weight: 700;
  border: 0; 
  border-radius: 999px;  
  font-size: 1.1875rem; 
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
}
.btn.btn-link { width: auto; min-width: auto; padding: .5rem; }
.btn-group, .btn + .btn { margin-top: .5rem; }
.btn-group .btn + .btn, .btn.btn-link + .btn.btn-link { margin-top: 0; }
.btn-sm {   font-size: 0.925rem; 
  padding-top: .5rem; padding-bottom: .5rem; // can this be overrode in bs
}
.btn-lg {   font-size: 1.4875rem;  }
a.btn { text-decoration: none; }

.btn.btn-link + .btn.btn-link { margin-left: 0; padding-left: 0;}
.btn.btn-block + .btn.btn-block {
  margin-top: 1.625rem;
  margin-left: 0;
}
.btn-block:first-child { margin-top: 1.1875rem; }
.btn-block:last-child { margin-bottom: 1.1875rem; }

.btn-important, a.btn-important {
  background-color: $btn-important;
  // border: solid 2px $btn-important;
  color: set-text-color($btn-important);
  &:hover {
    background-color: darken($btn-important, 5);
  }
}

.btn-primary {
  background-color: $btn-primary;
  color: set-text-color($btn-primary); 
}

.btn-secondary {
  background-color: $btn-secondary;
  color: $primary;
  // border: solid 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.10);
  // border-radius: 1.6875rem; // 25px + 2px padding for secondary
  margin-top: 0;
  // line-height: 1.37;
  &:hover, &:focus, &:active {
    background-color: inherit;
    // border: solid 2px $primary;
    
  box-shadow: inset 0 0 0px 2px $primary;
    color: $primary;
  }
}

.btn-tertiary {
  background-color: $btn-tertiary;
  color: $primary;
  border: transparent; 
  // line-height: 1.15;
  &:hover {
    background-color: $pale-gray;
  }
}

// All classes that have inverse colored backgrounds, including alerts
.bg-primary, .sectional-inverted, .alert {
  $btn-primary: #fff;
  $btn-secondary: $primary;
  $btn-tertiary: $primary;
  
  .btn-unstyled { color: #fff; }
  .btn-primary {
    background-color: #fff;
    color: $primary;
    // border: transparent;
    &:hover {
      color: $primary;
      background-color: #fff;     
      opacity: 0.9;
    }
    &:focus {
      box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    }
  }
  .btn-primary:hover:visited, .btn-primary:visited { color:$primary}
  
  .btn-secondary,
  .btn-tertiary {
    background-color: $primary;
    color: set-text-color($primary);
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: set-text-color($primary);
    }
    &:focus {
      box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    }
    &:not(:disabled):not(.disabled):active {
      color: #ffffff;
      background-color: rgba(218, 210, 210, 0.15);
    }
  }
  .btn-secondary {
    
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
    // border: solid 2px rgba(255, 255, 255, 0.3);
    &:hover {
      // border: solid 2px rgba(255, 255, 255, 0.3);
    }
  }
}
dl .btn-toggle { font-size: 1rem; }
@media (min-width: $screen-md) {
  dl .btn-toggle { font-size: 1.1875rem; }
  .btn-sm { font-size: .95rem; }
  
}
@media (max-width: $screen-sm - 1px) {
.header-content {
  .btn { width: 100%; margin-bottom: 1rem; }
  }
}
@media (min-width: $screen-sm) {
  .btn {
    min-width: 150px; 
    // font-size: 1.1875rem; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; // .9062 for 55px high
    // line-height: 1.15;
    width: auto; 
  
  } 
  .btn.btn-block { width: 100%; }
  .btn + .btn { margin-left: 22px; margin-top: 0; }
  .btn-group { margin-top: 0; }
}



.btn-toggle {
  font-weight: normal;
  text-align: left; 
  color: $link-blue;
  background: transparent;
  padding: 0;
  border-radius: 0;
  width: 100%;
}


.btn-toggle:before {
  content: " ";
  float:right;
  font-size: 1rem;
  line-height: 1.5;
  background: none;
  background-size: 30px;
  background-repeat: no-repeat;  
  transition: background-color .1s ease-in-out;
  background-image: url(../../resources/img/icons/toggle/icons.svg); // closed-blue-transparent
  background-position:0 0;
  height: 30px;
  width: 30px;  
  margin-top: -3px;
} 

.btn-toggle[aria-expanded=true]:before {  
  background-image: url(../../resources/img/icons/toggle/icons.svg); // open-blue-bordered
  background-position:0 -60px;
}

@media (min-width: 320px) {
  .btn-toggle.verbose:after {
    content: "collapse";
    width: auto;  
    padding-right: .5rem; 
    float:right;
  }
  .btn-toggle.verbose.collapsed:after {
    content: "expand";
  }
}
@media (min-width: $screen-md) {
  .btn-toggle.verbose:before {
    margin-top:0;
  }
}


.btn-caret:after {
  content: "\f0d8";
  font-family: $font-awesome; 
  font-weight: 900;
  font-size: .8em;
  padding: .1em .4em 0 .3em;
}
.btn-caret.collapsed:after { 
  content: "\f0d7";
}