$dl-border: rgba(0, 0, 0, 0.1);
dl.list-inline {
  width: 100%; 
  dt, dd { margin-bottom:0;}
  dd {padding: 0 0 1.5rem; }
  dt { border-top: 1px solid $dl-border; padding: 1.5rem 0 0 0;  }
  dt:first-of-type { border-top:0;}
  dt { clear:both;}

  [class*="icon-bg-"] + dd { padding-left: 3.1875rem; }
  [class*="icon-bg-"]:before {
    content: "";
    
    background-size: 100% auto;
    background-repeat: no-repeat; 
    position: absolute;
    height: 60px;
    width: 60px;
    transform:scale(.7, .7);
    left: -10px; // neg((1 - scale) * 16) * 2
    margin-top: -10px;
    background-image:url('../../resources/img/icons/icons-overview.svg');
  } 



  [class*="icon-bg-"] {
    position:relative;
    padding-left: 3.1875rem; 
    &.icon-bg-clock-o:before{background-position:0 0px;}
    &.icon-bg-credit-card:before{background-position:0 -60px;}
    &.icon-bg-book:before, &.icon-bg-completion:before { background-position:0 -120px;}
    &.icon-bg-map-marker:before{background-position:0 -180px;}
    &.icon-bg-calendar:before{background-position:0 -240px;}
    &.icon-bg-money:before{background-position:0 -300px;}
    &.icon-bg-mortar-board:before{background-position:0 -360px;}
    &.icon-bg-trophy-board:before{background-position:0 -420px;}
    &.icon-bg-dollar:before{background-position:0 -480px;}
    &.icon-bg-certificate-solid:before{background-position:0 -540px;}
  }
}
dl:after { content: ''; clear:both; display:block;}

@media (min-width: $screen-md) {
  dl.list-inline {
    border-bottom: 1px solid $dl-border; 
    margin:0; padding:0;
    display:block;

    dd, dt { width:60%; 
      //display:inline-block; 
      padding: 1.5rem 0; 
      display:block; 
      float:right;
    }
    [class*="icon-bg-"] + dd { padding-left: initial; }
    dt { 
      float:left;
      width: 40%;
      padding-right: .5rem;
      clear:both;
    }
    dd {
      border-top: 1px solid $dl-border; }
    dd:first-of-type { border-top:0;}
  }

 
}
@media (min-width: $screen-lg) {
  dl.list-inline {
    dd { width:66.67%; }
    dt { width: 33.33%; }
  }
  dl.list-inline [class*="icon-bg-"]:before {
    margin-top: -1rem;
  }
}

.dl-inline { display: inline-block; padding-right:0; margin-top: 1rem; margin-bottom:0; }
.dl-inline + .dl-inline { margin-left: 50px;}
.dl-small-header { 
  dt { font-size: 1rem; line-height: 1.5; font-weight: normal; }
}

.muted-dl {
  margin-bottom: 0; 
  dt {    color: $text-midgray;font-size: 1rem;
    line-height: 1.5; font-weight: 400; }
    dl { margin-bottom: 0;}
}

dl.list-border-none {
  border-bottom: 0;
  dt, dd { border-top: 0; }
}
dl.list-compact { 
  &.list-inline {
    dd {padding: 0 0 .5rem; }
    dt { padding: .5rem 0 0 0;  }
  }
}

@media (min-width: $screen-md) {
  dl.list-compact {
    &.list-inline {
      dd, dt {padding: .5rem 0;  }
    }
  }
}

// Contact box icons
dl.list-icons {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &>dt {
    width: 1rem;
    margin-right: 1rem;
    flex-grow: 0; 
    position: relative;
    height: 0;
    top: 0;
    left: 0; 
    overflow: visible;
    span {
        width: 1rem;
        text-align: center;
    }
  }
  &>dd {
    width: 100%;
    margin-left: 2rem;
    position: relative;
  }
}