
.breadcrumb {
  background: none;
  padding: 0;
  font-size: 1rem;
  color: $text-dark;
  line-height: 1.5;
  ol { list-style:none;padding: 0; font-size: inherit; line-height: inherit;}
  li {
    line-height: inherit;
    font-size: inherit;
    display:inline; 
    padding: 0;
    a { color: inherit; }
    a.active { color: $primary; font-weight: 700; cursor: default; } 
  } 
  li + li:before { content: '>'}
  ol.condensed {
    li:nth-of-type(10n+2), li:nth-of-type(10n+3), li:nth-of-type(10n+4), li:nth-of-type(10n+5), li:nth-of-type(10n+6), li:nth-of-type(10n+7), li:nth-of-type(10n+8), li:nth-of-type(10n+9), li:nth-of-type(10n){ display:none;}
    li:last-child { display:inline !important; }
    li:after { content: "..."}
    li:last-child:after { content: ''}
  }
}