.video-container { clear:both; 
  margin-top: 1rem; margin-bottom: 1rem;
  a, a:hover { text-shadow: none; background-image: none; }
  .video-lightbox { display:flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img, .btn {  flex-shrink: 1; flex-grow:1;   }
    .btn {
      bottom: auto;
      right:auto;
      position: absolute;
      z-index:4;
    }
    img {
      text-align: left;  
      background:linear-gradient($primary, $primary) no-repeat 10px 10px;
      background-color: transparent;
      padding: 0 10px 10px 0;
      margin-bottom: 0.70625rem; 
      width: 100%;
      z-index:3;
      position: relative;
      bottom: 0; top:0;
      left:0; right:0;
    }
    .icon-watch {
      padding-left: 58px;
    }
    .icon-watch:before { border: 0; 
      // height: 1rem; width: 1rem; 
      padding-left:0; margin-right: 1rem;
      position: absolute;
      top: 20%;
      left: 20px;
    }
  }
  .card-title { margin-bottom: 0;color: $primary;}

  .btn { color: $link-blue; background-color:#fff; }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
    background-color: rgba(255,255,255,.8)
  }
}
.video-box-content { padding:1rem 0;}
.video-box-image, .video-box-content { width: 100%; }
@media (min-width: 640px) {
  .video-box { display: flex; align-items: center; } 
  .video-box-content {  padding: 0 1rem 1rem 1rem; } 
  .video-box-image, .video-box-content { flex-grow: 1;}
  .video-full-width { 
    // display: block; 
    .video-box { display:block;}
    .video-box-image, .video-box-content { flex-grow:0; }  
  }
}
@media (min-width: $screen-md) {
  .video-box-image { flex: 1 1 41.6%; }
  .video-box-content { flex: 1 1 58.4%; }
  
  .video-full-width {   
    .video-box-image, .video-box-content { flex: none;}  
  }
}
@media (min-width: $screen-lg) {
  .video-full-width {  
    width: 80%; margin: 0 auto;
  }
  .layout-has-sidebar .video-full-width {  
    width: 100%; 
  }
}
@media (min-width: 640px) and (max-width:$screen-lg - 1px) {  
.layout-has-sidebar {
  .video-box { display:block;}
  .video-box-image, .video-box-content { flex: none; width: 100%;}
  .video-box-content { padding:1rem 0;}
  }
}


.bg-inverted, .sectional-inverted {
  .video-container .card-title { color: $light; }
}
.sectional-inverted.theme-01 {
  .video-container .video-lightbox img {
    background:linear-gradient(#00c278, #00c278) no-repeat 10px 10px;
  }
}
.sectional-inverted.theme-02 {
  .video-container .video-lightbox img {
    background:linear-gradient($light, $light) no-repeat 10px 10px;
  }
}

