header#header h1 {
  margin: 0;
}
header#header {
  padding-bottom: 0;
  overflow-x: hidden;
}
.header-logo { padding-right:0;}
.navbar-brand {
  max-width: 142px;
  margin-right:0;
  padding: 5px 0; 
  color: $primary;
  line-height: 1.2rem;
  text-align: center;
  path, polygon, rect {
    fill: $primary;
  }
}
.navbar-brand svg {
  width: 100%;
  height: auto;
}
.navmenu a.navbar-brand {
  color: $primary;
}
.navbar {
  padding: 0;
}
form.siteSearch {
  width: 100%;
}
.main-search{
  width: 100%; 
  min-width: 165px; // IE 11 
  label { 
    width: calc(100% - 50px);
    margin-bottom: 0; 
  } 
  &.input-group > label .form-control {
    background-color: transparent;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }
  &.input-group > .input-group-prepend > .input-group-text {
    margin-right: 1px;
    padding: .375rem .75rem .375rem 1.25rem;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-right: 0;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
  }
  .entersearch {        
    height: auto; 
    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    padding-left: 0;
    font-size: 1.1875rem;
    border-color: rgba(0, 0, 0, 0.2) !important;
  }
  .entersearch.border {
    border-width: 2px !important;
  }
 transition:border-color .02s ease;
  &:focus-within {
    .input-group-prepend> .input-group-text, .entersearch {
      border-color: $primary !important;
      box-shadow: none;
    }
  }
}
.navmenu .navbar-brand {
  padding: 8px 0;
} 

@media (min-width: $screen-lg) {
  header#header {
    padding-bottom: 1.5rem;
    overflow-x: visible;
  }
  .searchbox input.form-control {
    display: none;
  }
  #searchCollapse.navbar-collapse {
    display: none !important;
  } 
  .navbar-container {
    flex-wrap: wrap;
    justify-content: flex-end;
  } 
  .header-actions {
    flex-wrap: nowrap;
    justify-content: flex-end; 
    align-items: center;
    .navbar-container {
      width: 100%; 
      padding-top: 5px;
      padding-bottom: 5px;
      // min-height: 51px;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
      }   
    }
  }
  
  .searchbox input.form-control {
    position: absolute;
    top: -1px;
    right: 0;
    width: 170px;
  }
  .searchbox .input-group-append {
    position: relative;
    z-index: 5;
    margin-left: -1px;
  }
  .navbar-brand {
    padding-top: 24px;
  } 
} 

/* new alert styles */ 
.header-alert.alert-unstyled {
  padding-top: 1.5rem;
  padding-bottom: 1.125rem;
}
.header-alert {
  padding-top: 1.5rem;  
  padding-bottom: 1.125rem;
  text-align: left;
  a { 
    font-weight: 600;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  p + p { 
    margin-top: .5rem;
  }
  p, ol, ul, dl {
    font-size: 1rem;
    line-height: 1.5;
  }
  &.bg-pale-grey, &.bg-pale-gray {
    a { color: $link-blue; } 
    a:hover { color: darken($link-blue, 5); } 
  }
  button.close {
    top: -.75rem;
  }
  &.alert-dismissible .container-fluid {
    padding-right: 3.5rem;
  }
  &.bg-inverted {
    p, ul, ol, dl {
      color: #fff;
    }
  }
}
.header-alert + .header-alert {
  padding-top: 1.125rem;
}
header#header .alert.header-alert {
  min-height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: $screen-lg) {
  .header-alert {
    text-align: center;
  }
  .header-alert.alert-dismissible .container-fluid {
    padding-left: 3.5rem;
  }
}