$btn-important: $shoreline-orange;
$btn-primary: $link-blue;
$btn-secondary: transparent;
$btn-tertiary: transparent;
.btn {
  width: 100%;
  min-width: 100px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  font-weight: 700;
  font-size: 1.1875rem; 
  white-space: normal;
  border: 0; 
  border-radius: 999px;  
  cursor: pointer;
}
.btn.btn-link { 
  width: auto; 
  min-width: auto; 
  padding: .5rem; 
  color: $link-blue;
}
.btn-group, .btn + .btn { margin-top: .5rem; }
.btn-group .btn + .btn, .btn.btn-link + .btn.btn-link { margin-top: 0; }
.btn-sm {   
  padding-top: .5rem; 
  padding-bottom: .5rem; // can this be overrode in bs
  font-size: 0.925rem; 
}
.btn-lg {   font-size: 1.4875rem;  }
a.btn { text-decoration: none; }

.btn.btn-link + .btn.btn-link { margin-left: 0; padding-left: 0;}
.btn.btn-block + .btn.btn-block {
  margin-top: 1.625rem;
  margin-left: 0;
}
.btn-block:first-child { margin-top: 1.1875rem; }
.btn-block:last-child { margin-bottom: 1.1875rem; }

.btn-important, a.btn-important {
  color: set-text-color($btn-important);
  background-color: $btn-important;
  &:hover {
    color: set-text-color($btn-important);
    background-color: darken($btn-important, 5);
  }
}
.btn-primary {
  color: set-text-color($btn-primary); 
  background-color: $btn-primary;
  &:hover {
    color: set-text-color($btn-primary);
    background-color: darken($btn-primary, 5);
  }
}
.btn-secondary {
  margin-top: 0;
  color: $primary;
  background-color: $btn-secondary;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.38);
  &:hover, &:focus, &:active {
    color: $primary;
    background-color: inherit;
    box-shadow: inset 0 0 0px 2px $primary;
  }
}
.btn-tertiary {
  color: $primary;
  background-color: $btn-tertiary;
  border: transparent; 
  &:hover {
    background-color: $pale-gray;
  }
}

// All classes that have inverse colored backgrounds, including alerts
.bg-primary, .sectional-inverted, .alert {
  $btn-primary: #fff;
  $btn-secondary: $primary;
  $btn-tertiary: $primary;
  
  .btn-unstyled { color: #fff; }
  .btn-primary {
    color: $primary;
    background-color: #fff;
    &:hover {
      color: $primary;
      background-color: #fff;     
      opacity: 0.9;
    }
    &:focus {
      box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    }
  }
  .btn-primary:hover:visited, .btn-primary:visited { 
    color:$primary;
  }  
  .btn-secondary,
  .btn-tertiary {
    color: set-text-color($primary);
    background-color: $primary;
    &:hover {
      color: set-text-color($primary);
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:focus {
      box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    }
    &:not(:disabled):not(.disabled):active {
      color: #ffffff;
      background-color: rgba(218, 210, 210, 0.15);
    }
  }
  .btn-secondary {
    box-shadow: inset 0 0 0 2px rgba(204, 255, 249, 0.55);
  }
}
dl .btn-toggle { font-size: 1rem; }
@media (min-width: $screen-md) {
  dl .btn-toggle { font-size: 1.1875rem; }
  .btn-sm { font-size: .95rem; }
}
@media (max-width: $screen-sm - 1px) {
.header-content {
  .btn { width: 100%; margin-bottom: 1rem; }
  }
}
@media (min-width: $screen-sm) {
  .btn {
    width: auto; 
    min-width: 150px; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; // .9062 for 55px high  
  } 
  .btn.btn-block { width: 100%; }
  .btn + .btn { 
    margin-top: 0; 
    margin-left: 22px; 
  }
  .btn-group { margin-top: 0; }
}
.btn-toggle {
  width: 100%;
  padding: 0;
  color: $link-blue;
  font-weight: normal;
  text-align: left; 
  background: transparent;
  border-radius: 0;
}
.btn-toggle:before {
  float:right;
  width: 30px;  
  height: 30px;
  margin-top: -3px;
  font-size: 1rem;
  line-height: 1.5;
  background: none;
  background-image: url(../../resources/img/icons/toggle/icons.svg); // closed-blue-transparent
  background-repeat: no-repeat;  
  background-position:0 0;
  background-size: 30px;
  transition: background-color .1s ease-in-out;
  content: " ";
} 
.btn-toggle[aria-expanded=true]:before {  
  background-image: url(../../resources/img/icons/toggle/icons.svg); // open-blue-bordered
  background-position:0 -60px;
}

@media (min-width: 320px) {
  .btn-toggle.verbose:after {
    float:right;
    width: auto;  
    padding-right: .5rem; 
    content: "collapse";
  }
  .btn-toggle.verbose.collapsed:after {
    content: "expand";
  }
}
@media (min-width: $screen-md) {
  .btn-toggle.verbose:before {
    margin-top:0;
  }
}
.btn-caret:after {
  padding: .1em .4em 0 .3em;
  font-weight: 900;
  font-size: .8em;
  font-family: $font-awesome; 
  content: "\f0d8";
}
.btn-caret.collapsed:after { 
  content: "\f0d7";
}
.btn-tags {
  .btn {
    margin-bottom: .5rem;
    font-weight: 400;
    background-color: rgba(0, 116, 179, .1);
  }
  .btn-sm {
    padding: .25rem .75rem !important;
  }
}