

$alert-announcement: $shoreline-yellow;
$alert-warning: $shoreline-orange;

.alert {
  border-radius: .25rem;
  border-color: #fff; 
  padding: 2rem;
  * { color: inherit; }

  a { text-decoration: underline; }
  &.bg-primary, &.alert.alert-primary {
    text-decoration: none;
  }
  a:hover { color: inherit; }
  &>*:first-child { margin-top: 0;}
  &>*:last-child { margin-bottom: 0;}
}
.alert-primary, .alert-announcement {
  color: set-text-color($alert-announcement);
  background: $alert-announcement;
  @include headings(1, 6) {color: set-heading-color($alert-announcement);}
}
.alert {
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 89, 138, 0.7);
  }
}
.alert-secondary, .alert-warning {
  color: set-text-color($alert-warning);
  background: $alert-warning;
  @include headings(1, 6) {color: set-heading-color($alert-warning);}  
}
.alert-warning{
  border-top: .5rem solid $shoreline-yellow;
}
@media (min-width: $screen-sm) {  
  .alert.alert-padded {
    padding: 2.5rem;
    }
  }
@media (min-width: $screen-lg) {
.alert.alert-padded {
  padding: 3.5rem 6.5rem
  }
}

header .alert, header .alert.alert-padded { 
  border-radius: 0; 
  border:0; 
  padding-left:20px; 
  padding-right:20px;
}
header .alert .dismiss-alert {
  position: absolute;
  right: 0;
  top: 0; 
  transition: background-color .2 ease-in-out;
  width: 163px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  .fas.fa-times {
    margin-right: 2px;
  } 
}
header .alert.alert-primary a {
  text-shadow: none;
  background-image: none;
}
header .alert.alert-primary .alert-content { padding-top: 25px; }
header .alert.alert-primary .dismiss-alert {
  z-index: 1;
}
header .alert .dismiss-alert:hover {
  background-color:  rgba(255, 255, 255, .8);
}
header .alert {position:relative;  margin-bottom: 0; min-height: 75px; }
/* shows with JS */
// header .alert { display:none;}
.dismissed-expand-message {
  background-image: url('../../resources/img/graphics/icon-alert-black.png');
  background-repeat: no-repeat;
  background-size: 40px auto;  
  background-position: 0px center; 
  display: block;
  margin-bottom: 50px;
  top: 50px; 
  position: relative;
  padding: 5px 0px 5px 60px; 
  min-height: 40px;
  clear: both;
  font-weight: 600;
  font-size: 1.3rem;
  p { font-size: inherit; }
}

.alert.alert-warning .dismissed-expand-message {
  background-image: url('../../resources/img/graphics/icon-alert.png');
}
@media (min-width: 600px) {
  .dismissed-expand-message {
    padding: 5px 160px 5px 60px; 
    min-height: 40px;
    text-align: center;
    margin-bottom: 0;
    top: 0; 
  }
}

@media (min-width: $screen-lg) {
  header .alert { margin-bottom: -1.5rem;  margin-top: 1.5rem; }
  header .alert.alert-primary .alert-content {
    background-image: url('../../resources/img/graphics/icon-alert-black.png');
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: 40px center;
    padding-left: 120px;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  header .alert.alert-warning .alert-content {
    background-image: url('../../resources/img/graphics/icon-alert.png');
    background-size: 80px auto;
    background-position: center left;
  }
}
header .alert {
  padding-top: 1rem;
  padding-bottom: 1rem;
  .alert-content { padding-bottom: 1rem;}
  .alert-content p:last-child { margin-bottom: 0; }
  .container-fluid { position: relative; 
    h2 { margin:0; padding-top: 2rem; }
  }
  .dismissed-expand-message { display:none; 
    p { margin:0; padding: 0;}
  }
}
.dismiss-alert-toggle:after { 
  content: "\f068";
  font-family: $font-awesome; 
  font-weight: 900;
  font-size: .8em;
  padding: .1em .4em 0 .3em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: initial;
  white-space: nowrap;
  float: right;
}
header .alert.dismissed {
  // padding-bottom: 1rem;
  .alert-content { display: none; }
}
header .alert.dismissed  {
  .dismissed-expand-message { display:block;   }
  .dismiss-alert-toggle:after { content: "\f067"; }
}