.news-no-description p.description {
  display: none;
}
.news-article {
  p.description { 
    margin-top: .25rem;
    margin-bottom: 0; 
    font-size: 1rem;
  }
  .datetime {
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 2px;
    color: $text-midgray;
    font-size: 1rem;
    line-height: 1.5;
  }

  h2,
  h3,
  h4 {
    margin-top: 0;
    color: $primary;
    a {
      color: inherit;
    }
  }
}

.col-sm-4,
.col-sm-3,
.col-md-4,
.col-md-3,
.sidebar-container,
.news-no-description {
  .news-article {

    .image-container,
    .article-info-container {
      width: 100%;
    }
  }
}

.sidebar-container .news-article,
.news-feed .news-article,
.news-row .news-article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.news-row .news-article {
  margin-bottom: 24px;
}

.sidebar-container>.news-article:last-child,
.news-feed>.news-article:last-child,
.news-feed>.row>div:last-child .news-article,
.news-row>.news-article:last-child,
.news-row>.row>div:last-child .news-article {
  border-bottom: 0;
}
 
.news-row {
  .image-container {
    width: 100%;
  }

  .news-article {
    display: flex;
    flex-direction: column;
  }

  .news-article .image-container+.article-info-container {
    width: 100%;
  }
}

.sidebar-container .news-row {
  .row>div~div .news-article .image-container {
    display: none;
  } 
}
@media (min-width: $onecol) {
  .sidebar-container .news-horizontal .row .col-sm-4 {
    flex: 0 0 100%;
    width: 100% !important;
    max-width: 100%;
  }
}

.news-row .image-container img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: $screen-sm) {
  .news-row .news-article {
    flex-direction: row;
    margin-bottom: 0;

    div {
      padding-right: 20px;
      padding-left: 20px;
    }

    div:first-child {
      padding-left: 0;
    }

    div:last-child {
      padding-right: 0;
    }

    .datetime {
      padding-top: 0;
    }

    .article-info-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      width: 100%;
    }

    .image-container {
      width: 40%;
    }

    .image-container+.article-info-container {
      width: 60%;
    }
  }
  .sidebar-container .news-row .news-article {
    flex-direction: column;
    .image-container {
      width: 100%;
    }

    .image-container+.article-info-container {
      width: 100%;
    }
  }
}

.news-no-date {
  .datetime {
    display: none;
  }
}
.news-feed .news-article {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}
.news-horizontal .news-article,
.news-feed .news-article,
.news-row .news-article {
  padding-bottom: 1rem;
}
.news-feed .news-article,
.news-row .news-article { 
  .datetime {
    padding-top: 0;
  }

  h3 {
    margin-bottom: 0;
  }

  .image-container {
    margin-right: 20px;
    padding-right: 0;
    padding-bottom: 1rem;
  }

  .image-container+.article-info-container {
    // padding-bottom: 1rem;
    padding-left: 0;
  }
}

.news-feed .news-article {
  .image-container+.article-info-container {
    width: auto;
    margin-left: 0;
  }

  .image-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100px;
  }
}

@media (min-width: $screen-lg) {
  .sidebar-container .news-feed .news-article .image-container {
    width: 80px;
  }
}

@media (min-width: $screen-sm) {
  .news-feed .news-article .image-container {
    width: 120px;
  }
  .news-row .news-article {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
  }
}

.news-article.news-article-stacked {
  flex-direction: column;

  .datetime {
    padding-top: 1rem;
  }

  .image-container,
  .image-container+.article-info-container {
    width: 100%;
  }
}


.bg-inverted,
.sectional-inverted {
  .news-article {
    color: $light;

    .datetime {
      color: $light;
      opacity: .9;
    }

    h2,
    h3,
    h4 {
      color: $light;
    }
  }
}
ul.list-inline.news-labels li {
  display: inline-block;
  margin: 8px 8px 0 0;
}
.news-labels {
  .badge-primary {
    padding: 12px 16px;
    color: #00685E;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    white-space: normal;
    word-wrap: break-word;
    background-color: transparent;
    border: 2px solid #e6f0ef;
    transition: border .2s ease-in-out;
    .fa-tag {
      margin-right: 2px;
      opacity: .9;
    }
  }
  .badge-primary:hover, .badge-primary:focus {
    color: #00685E;
    background-color: transparent;
    border: 2px solid #00685E;
  }
}  