.navmenu {
  a {
    padding: 5px 10px;
    color: #000;
    text-align: center;
    display: block;
  }
  .dropdown-menu a {
    text-align: left;
  }
  .nav-link {
    color: darken($primary, 10)
  }
}

.navbar-toggler {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px
}

.megamenu {
  position: relative;
  z-index: 10;
  color: $primary;
  font-size: 1.1rem;
  ul,
  div {
    margin-bottom: 0;
    background: inherit;
    padding-left: 0;
  }
  li {
    display: block;
    color: $primary;
    width: 100%;
    a,
    .nav-link {
      color: $primary;
      display: block;
      padding: 10px 15px;
    }
  }
  .dropdown-menu {
    color: inherit;
    padding: 0;
    border: 0;
    a {
      color: inherit;
      display: block;
      padding: 5px 15px;
    }
  }
  .dropdown-toggle:after { // lg
    content: "";
    background-image: url(../../resources/img/icons/line@3x.png);
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: .7rem;
    width: .7rem;
    display: block;
    background-size: contain;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    transform: rotate(0); 
  }
  .dropdown.show { 
    .dropdown-toggle:after {
      transform: rotate(90deg);
    }
  }
  .dropdown.show .dropdown-menu {
    display: block !important;
  }
  .dropdown .dropdown-menu {
    border-radius: 0;
    width: 100%;
    a {
      padding-left: 15px;
    }
  }
}

#searchCollapse .container {
  padding-left: 15px;
}
#searchCollapse p {
  padding: .5rem;
  margin: 0;
  font-size: .8rem;
}
.searchform-mobile {
  padding-bottom: 1rem;
  padding-top: 1rem;
  label {
    display: block;
    width: 70%;
    margin-bottom: 0;
  }
} 
.dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
  position: relative;
  z-index: 1;
  display: inline-block; 
  transition: transform .1s ease-in-out;
} 
@media (min-width: 280px) {
  .searchform-mobile label {
      width: 80%;
    }
}
@media (min-width: $screen-sm) {
  .searchform-mobile label {
      width: 90%;
    }
}

@media (min-width: $screen-lg) {
  .megamenu .dropdown .dropdown-menu {
    width: 220px;
    // border-top: 2px solid $primary;
  }
  li.dropdown:last-child .dropdown-menu {
    right: 0;
    left: auto;
  }
  .megamenu {
    font-size: 1rem;
    li { width: auto;}   
    .dropdown-menu {
      background: #f9f9f9;
      margin-top: -2px;
      a {
        padding: 12px 20px;
        font-size: 16px;
        font-weight: 500;
        color: #373737;
      }
      .nav-link {
        padding: 10px 8px
      }
      a:hover {
        background: darken($light, 5);
      }
      li {
        border-bottom: 1px solid #dfdfdf;
        display: block;
        width: auto;
        width: initial;
      }
      li:last-child {
        border-bottom: 0;
      }
    }
    li.dropdown>a {
      padding-right: 1.5rem !important;
      position: relative;
    } 
    li.dropdown:hover>a,
    li.dropdown.show>a { 
      color: $link-blue;
      text-decoration: none;
    } 
    .dropdown-toggle:after {
      transform: rotate(90deg);
    }
    .dropdown:hover, .dropdown.show { 
      .dropdown-toggle:after {
      transform: rotate(0);
        background-image: url(../../resources/img/icons/arrow@3x.png);
      }
    }
  }
  ul.navbar-nav.ml-auto {
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  ul.distributed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    li {
      flex: auto;
      flex-grow: 1;
    }
  }
  .dropdown-toggle.dropdown-toggle-split {
    top: 1.2rem;
    left: auto;
    position: absolute;
    right: 0;
    display: inline-block;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  } 
}

@media (max-width: $screen-lg - 1) {
  .dropdown .dropdown-menu {
    float: none !important;
    position: relative !important;
    transform: none !important;
  }
  li.dropdown {
    border-top: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .megamenu .dropdown .dropdown-menu a {
    padding-left: 25px;
  }
  .navmenu ul li a {
    text-align: left;
  }
  .megamenu .dropdown-toggle-split {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem 1.125rem !important;
    font-size: 1.25rem; // padding: .5rem 1rem !important;
    // border-left: 1px solid rgba(0, 0, 0, 0.1); 
    border-left: 1px solid #e6e6e6;
  }
  .megamenu>div>div {
    width: 100%;
  }
  #navbarCollapse>ul>li>a,
  #navbarCollapse>div>ul>li>a {
    position: relative; 
  }
  #navbarCollapse>ul>li>a { 
    overflow:hidden;
  }
}
