// Debug
// .content-block {
//   background-color: rgba(195, 219, 195, 0.4);
//   box-shadow: 0px 0px 2px #000;
// }
// .content-block-interior {
//   background: rgba(0, 255, 0, 0.185);

//   .content-block-interior-content {
//     background: rgba(0, 255, 0, 0.185);
//   }
// }
.contact-us-box {
  border: solid 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  word-wrap: break-word; // for long links
  h2 { color: $text-black; font-size: 1.1875rem; line-height: 1.26; }
  h3 { font-size: 1rem; line-height: 1.5; margin-top:2rem; }
  dl, dd, dt, p, ul, ol, li, div { font-size: inherit;}
  dt { font-weight: 400; }
  p, dd { color: $text-midgray}
  strong { color: $text-black; }
  .content-block > *:first-child, .content-block-interior > *:first-child,
  .content-block-interior-content > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}
@media (min-width: $screen-md) {
  .contact-us-box {
    &> h2 { width: 100%; clear:both; text-align: center; margin-top:0; }
    .content-blocks { display:flex; flex-direction: row; margin-bottom: 0; 
      .content-block { flex-grow:1; flex-basis: 33%;}
    }
  }
}
.address-sidebar > .contact-us-box, .col-md-4 > .contact-us-box, .sidebar-container .contact-us-box {
  &> h2 { text-align: left; }
  .content-blocks { flex-direction: column; }
  .content-block { width: 100%; flex-basis: auto; } /* flex basis auto for ie 11 */
}
.contact-us-box {
  li,
  ul.list-unstyled li {
    margin-bottom: .75rem;
  }
  dl {
    border-bottom: 0;
    dd {
      margin-bottom: .75rem;
    }
  }
  dl:last-child { margin-bottom: 0; } 
  a.btn+a.btn {
    margin-left: 0;
    margin-top: .5rem;
  }
} 
.contact-us-box.contact-us-box-flex .content-block {
  display: flex;
  align-items: center;
}
.contact-us-box .content-block {
  padding-top: 1rem;
  word-break: break-word;
}
@media (min-width: $screen-md) {
  .contact-us-box .content-block {
    a.btn {
      width: 200px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  // Center middle column with 'shrink-to-fit width'
  #interior>.contact-us-box.contact-us-box-flex .content-block:nth-of-type(3n+2):nth-last-child(2) {
    justify-content: center;
    .content-block-interior {
      padding-right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  } 
}
.contact-hours {
  margin-bottom: 0;
  dd,
  dt {
    padding: 0;
  }
  dt {
    min-width: 55px;
    float: left;
    clear: both;
  }
  dd {
    float: left;
  }
}
 
// border styling
@media (min-width: $screen-md) {
  #interior > .contact-us-box > .content-blocks .content-block {
    position: relative; 
  }
  #interior>.contact-us-box > .content-blocks .content-block:first-child:after {
    border-right: 0;
  }
  #interior>.contact-us-box > .content-blocks .content-block:after  {
    content: '';
    position: absolute;
    bottom: 0px;
    top: 25%;
    left:0;
    height: 50%;
    border-right: 2px solid #dedede;
  }
  // No border on last column
  #interior>.contact-us-box > .content-blocks .content-block:last-child {
    padding-left: 0;
  }
  #interior>.contact-us-box > .content-blocks .content-block:last-child:after {
    display: none;
  } 
} 
@media (min-width: $screen-md) {
  #interior > .contact-us-box > .content-blocks .content-block {
    padding: 20px 20px;
  }
}
@media (min-width: $screen-xl) {
  #interior > .contact-us-box > .content-blocks .content-block {
    padding: 20px 50px;
  }
  .layout-has-sidebar #interior > .contact-us-box > .content-blocks .content-block {
    padding: 20px 30px;
  }
} 
.content-block-interior { width: 100%; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .contact-us-box-flex.contact-us-box .content-block {
    display: block;
  }
  .address-sidebar > .contact-us-box, .col-md-4 > .contact-us-box, .sidebar-container .contact-us-box {
    .content-blocks {
      display: block;
    }
  }
}