.featureicon {
  text-align: center; 
  margin-bottom: 2rem; 
  p { margin:0; padding:0; line-height: 1.5;}
  p a.btn:hover { text-decoration: underline;}
  h3 { 
  color: $primary;
  margin: 0;
  margin-top: 1rem;
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 900;
  }
  a.btn { color: $link-blue; font-weight: 400; font-size: 1.1875rem;  }
  .icon {
    margin: 0 auto;
    margin-bottom: 1rem;
    display:block;
    text-align: center;
    color: $primary;
    img { height: 80px; width: auto;}
  }
  .fa-icon {
    font-size: 80px; 
  }
}
.featureicon-small.featureicon {
  .fa-icon { font-size: 40px; }
  h3 { margin-top: .5rem; }
  .icon {
    margin-bottom: .5rem;
    img { height: 40px; }
  }
}
.featureicon-container { position: relative; z-index: 2;}
@media (min-width: $screen-md) {
  .featureicon { 
    margin-bottom:0;
    h3 { 
    font-size: 4.5rem;
    font-weight: 900;
    }
  }
}

.fa-container { min-width: 2rem; text-align: center; margin: 0 .2rem; }
.fa-container.fa-2x { min-width: 3rem; }

.header-content .fa-container.fa-2x:before {
  position: relative;
  top: .5rem;
}

.icon-circle { 
  padding: 1rem;
  min-width: auto;
  border-radius: 999px;
  background-color: $primary;
  color: #fff; 
  text-decoration: none;
  white-space: normal;
  font-weight: 700; 
  display: inline-block;
  text-align: center;
  font-size: 1.1875rem;  
  
  .icon-content {
    width: 1em; height: 1em;    
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }
}