
.flex-layout header,
.flex-layout #footer {
  flex: none; 
}
 
.flex-layout-body {
  // display: flex;
  // flex: 1 0 auto; 
  flex-grow: 1;
  flex-direction: column;  
  min-height: 1px;
}
.flex-layout-content { 
  flex: 1 0 auto; 
  flex-direction: column;   
}  

 
.layout-has-sidebar {   
  .sidebar-container, .content-container  { width: 100%;  }
}

.layout-has-sidebar { 
  display: flex;
  flex-direction: row;  
  min-height: 1px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  .sidebar-container {
    // background: #eee;
    flex: 0 1 auto; 
    flex-direction: column;
  }
  .content-container { 
    flex: 0 1 auto;  
    //background:#ccc;
  }
}

.layout-master, #sectionals {
  flex-grow: 1; 
  min-height: 1px; // for IE 11
}
// .container-fluid { position: relative;}

.layout-master {
  position: relative;
}
 
.content-header{ padding-bottom: 1rem; }
.content-has-header-img .content-header .header-info .header-content {
  margin-bottom: 2rem;
}
 
#maincontent {
  margin-bottom: 1.5rem;
  &.program-option {
    margin-bottom: 0;
  }
}
#maincontent + #footer   { margin-top: 1.5rem;}
#maincontent + #sectionals { margin-top: -1.5rem; } 
.program-option p.lead { margin-top: 1rem;}

@media (max-width: $screen-md - 1) {
  
  .layout-master { 
    &.program-option .layout-has-sidebar {
      order: 3;
      
      .sidebar-container{  
        order: 2;
      }
      .content-container {
        order: 1;
      }
    }
    .layout-has-sidebar {  
      display: flex;
      flex-direction: column;
      // min-height: 100%;
      min-height: 100vh;
      .sidebar-container, .content-container {
        min-height: 1px; // IE 11
        // display: flex;
        // flex-grow:1; // IE 11?
        flex-direction: column;
        justify-content: center;
        // min-height: 100%;
      }
    }
  }
}

@media (min-width: $screen-md) {
  // .page-interior .content-has-header-img .content-header {
  //       margin-bottom: 4rem;
  // }
  .content-has-header-img {
    margin-bottom: 2.5rem;
}
  .subnav .toggle { display:none;}
  .program-option .content-header {
    .breadcrumb, .header-info { padding-right: 33.33%; } // to wrap around sidenav
  }
  .layout-has-sidebar { 
    .sidebar-container { width: 33.33%; position: relative;  }
    .content-container { width:66.66%; padding-right: 40px; }
    .sidebar-container.overview {
     // top: -150px; // TODO: This will probably be controlled by JS
      // background: #c8dcbbd4; // debugging
      position: static;
    }
    #sidebar-nav nav {
      position: absolute;
      top: 50px;
      padding: 0;
    }
  }
  
  .page-interior {
    .header-image {
      margin-bottom: -90px; // breadcrumb affects this distance
    }
  }
}  
@media (min-width: $screen-lg) {
  .content-has-header-img .content-header {
    .breadcrumb { width:50%; }
  }
  // .program-option .content-header {
  //   .breadcrumb { width:100%; }
  // }
}
@media (min-width: $screen-lg) {
  .program-option .content-header {
    .breadcrumb, .header-info { padding-right: 25%; } // to wrap around sidenav
  }
 
  .content-has-header-img .content-header .header-info {
    display:flex; 
    .header-content, .header-image { width: 50%; flex: 1; }
  }
  
  .program-option .content-header .header-info{
    display: block;
    .header-content, .header-image { width: auto; flex: initial;}
  } 

  .layout-has-sidebar { 
    .sidebar-container { width: 25%;}
    .content-container { width:75%;}
  }
  .layout-has-left-nav.layout-has-sidebar .content-container {
      width:50%;
  }
}
   
.page-interior {border-top: 1rem solid $minty-green; padding-top: 0rem;}
// .page-interior>.container-fluid { padding-top: 2rem; }
.program-option .content-header { border-top:0; 
  // margin-top: 1rem; 
}
.content-header {
  margin-top: 0rem;
  border-top: 1rem solid $minty-green;;
}
.content-header.bg-primary { 
  border-top: 1rem solid #01685e;}
// .page-interior .content-header.bg-primary { margin-top: -1rem;}
.page-interior .content-header {
  margin-top: -1rem;
  // margin-bottom: 1rem;
}
// .page-interior .content-has-header-img .content-header

 // .layout-has-left-nav

 @media (max-width: $screen-md - 1) {
  #maincontent {
    .layout-has-left-nav {  
      display: flex;
      flex-direction: column;
      .left-nav {   flex-grow: 1; flex-shrink: 1; order:3;  }
      .sidebar-container{  
        order: 2;
      }
      .content-container {   flex-grow: 1;flex-shrink: 1; flex-direction: column; order: 1;}
    }
  }
  .content-has-header-img {
    .content-header {
      padding-bottom: 0;
      margin-bottom: 3rem;
    }
    .header-image {bottom: -1.5rem;position: relative;}
  }
}
@media (min-width: $screen-md) and (max-width: $screen-lg - 1px) { 
  .layout-has-left-nav { 
    flex-wrap: wrap; // wrap sidebar under
    
    .sidebar-container { width: 100%;}
  }
  
}
@media (min-width: $screen-md) {
 
  .layout-has-left-nav { 
    
    display: flex;
    flex-direction: row;  
    min-height: 1px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
   
    .left-nav { width: 33.33%; position: relative; padding-right: 30px; }
    .content-container { width:66.66%; padding-left: 10px;}
  
  }
  // h1 {background:rgba(1, 104, 94, 0.3)}
  .content-no-header-img .flex-layout-body .sidebar-container { padding-top: 4.5rem; 
    // background: rgba(1, 104, 94, 0.3) 
  }
  
  
}  
@media (min-width: $screen-lg) {
  .layout-has-left-nav { 
    .left-nav { width: 25%;}
    .content-container { width:75%;}
  }
}


/* crazy header images :) */
@media (min-width: $screen-lg) {
   
  .header-info {
    justify-content: center;
    align-items: center;
  }

  .content-header.page-interior .content-has-header-img .breadcrumb {
    width: 50%;
} 

  .header-image {
    position: static;
    top: 0;
    right: 0;
    // background: #00f;
    height: 400px;
    overflow-y: hidden;
  
  } 
  .header-image-clip {
    position: absolute;
    top: 0;
    clip: rect(0px, 1000px, 500px, 20px);
    right: 0;
    left: 50%;
    right: 0;
    top: 24px; 
  } 
  .header-image img {
    top: 24px;
    right: 0;
    right: 0;
    width: 50%;
    max-height: 100%;
    z-index: 300;
    height: 400px;
    width: auto;
    -o-object-position: center;
    text-align: center; 
  }
  .center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
  }
  .center-cropped {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .center-cropped {
    height: 450px;
  }


}

@media (min-width: $screen-xl) {
  .header-image, .header-image img { height: 450px; }
  .center-cropped {
    height: 500px;
  }
}

.flex-layout-body {
  .left-nav, .content-container, .sidebar-container {
    // background-color: rgba(255, 0, 0, 0.2);
    padding-top: 2rem; padding-bottom: 1rem;
  }
}

// Holy grail layout
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}