.topnav {
  background-color: #0c2321; 
  ul {
    width: 100%;
  }
  ul, li { list-style: none; display: inline-block; margin:0; padding:0;}
  a { text-decoration: none; 
    font-size: .8rem;}
  .nav-link { display:inline-block; color:#fff; padding: .5rem; }
}
#skiptocontent a {
  padding: 8px;
  position: absolute; 
  top: -50px; 
  left: 0px;
  color: white;
  background: $primary;
  -webkit-transition: top .1s ease-in-out, background .1s linear;
  transition: top .1s ease-in-out, background .1s linear;
  z-index: 100;
  outline: 1;
}
#skiptocontent a:focus {
  top: 0px; 
}

#mobile-menu-button {
  .menubaricon { width: 1rem; height: 1rem; } 
  .menubartext {
    display: inline-block;
    position: relative;
    top: -.1rem;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal; 
  }
  .menubaricon rect {fill:#12685E;transition: all .15s ease-out;}
  &:hover, &:focus, &:active {
    .menubar3 { width: 80px;}
  }
}
