table {
  margin: 1rem 0; 
  th, td {
    padding: 1rem;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  td { padding-top: 1.1875rem; padding-bottom: 1.4375rem; }
  thead th { border-width: 2px;
    background-color:#efefef; 
    vertical-align: top;
  }
  caption { caption-side: top; color:$shoreline-green; font-size: 1.5rem; font-weight: 600; line-height: 1.33;  }
  tfoot { color: #000; font-weight: 600;} 
}
table.standard-table { width: 100%;}
th small { line-height: 1.3; display: inline-block;}
.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
  // th, td {
  //   border-bottom: 0;
  // }
}
@media (min-width: 48em) {
  .responsive-table {
    font-size: .9rem;
  }
}
@media (min-width: 62em) {
  .responsive-table {
    font-size: 1rem;
  }
}
.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  // border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  color:#000;
}
@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}
 
.table-r1.responsive-table thead th {
  vertical-align: bottom;
}
.responsive-table thead th:first-of-type {
  text-align: left;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}
.responsive-table th,
.responsive-table td {
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 48em) {
  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: .5em;
  }
}
@media (min-width: 62em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em .5em;
  }
}
@media (min-width: 75em) {
  .responsive-table th,
  .responsive-table td {
    padding: .75em;
  }
}
.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}
.responsive-table tfoot {
  font-size: .8em;
  font-style: italic;
}
@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}
.responsive-table tbody tr {
  margin-bottom: 1em;
  // border: 2px solid #006c68;
}
@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}
.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) td {
    background-color: #fafafa;
  }
}
.responsive-table tbody th[scope="row"] {
  background-color:#efefef;
}
@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    color: #000;
    background-color: #fff;
    font-weight: bold;
    text-align: left;
  }
  .responsive-table tbody tr:nth-of-type(even) th[scope="row"] {
    background-color: #fafafa;
  }
}
.responsive-table tbody td {
  text-align: right;
}
@media (min-width: 30em) {
  .responsive-table tbody td {
    // border-bottom: 1px solid #006c68;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td {
    text-align: center;
  }
}
.responsive-table tbody td[data-type=currency] {
  text-align: right;
}
.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: .8em;
  color: #444;
}
@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: .9em;
  }
}
@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}


.table-wrapper table {
  margin-top:0; margin-bottom: 0;
}

/* pinned table */
table.responsive { max-width:100%;}
.table-r2 th, .table-r2 td {
    padding: 10px 5px 10px 10px;
    font-weight: normal;
    border-top:0;
}
table.table-r2 {
    white-space: normal;
}

table.responsive { margin-bottom: 0; }
.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #eee; border-left: 0 }
.pinned table { border-right: none; border-left: none; width: 100%;  }
.pinned table th, .pinned table.table th, .pinned table td { white-space: nowrap; border-top:0; }
.pinned td:last-child { border-bottom: 0; }
div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; 
  box-shadow: 0px 0 1px 0 #aaa;
}
div.table-wrapper div.scrollable table { margin-left: 35%; }
div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
  

.bg-inverted, .sectional-inverted {
  table thead th { background-color: rgba(0,0,0,.2); color: #fff; }
  .pinned { background: darken($primary, 3); }
  .responsive-table tbody {
    th[scope="row"], td {
    background-color: rgba(0,0,0,.05); color: #fff; 
    }
  }
  .responsive-table tbody tr:nth-of-type(even) {
    th[scope="row"], td { background-color: rgba(0,0,0,.15);  }
  }
}
.sectional-inverted.theme-03 {
  .pinned { background: #111; }
}
.sectional-inverted.theme-02 {
  .pinned { background: darken(#006ba6, 2); }
}

