.slideout-panel{
	position: relative;
	left: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	&.left-nav-on{
		left: 270px;
	}
	&.main-menu-on{
		left: auto;
		right: 100%;
	}
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

#main-content .left-nav{
	margin-bottom: 25px;
	@media screen and (max-width: $break-medium) { 	
		margin-bottom: 25px;
	}
}

.left-nav{
	@media screen and (max-width: $break-medlarge) and (min-width: $break-medium)  { 	
		height: 52px;
    	z-index: 10;
	}
	p{
		color: white;
		background: $color-teal;
		padding: 11px 20px;
		font-size: 20px;
		margin-bottom: 0;
		font-weight: 500;
		font-family: "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
		@media screen and (max-width: $break-medlarge) { 	
			cursor: pointer;	
			font-size: 18px;
			&:after{
				content: "";
				background-image: url(../img/graphics/arrow-down-white.png);
				width: 12px;
				height: 12px;
				display: inline-block;
				background-repeat: no-repeat;
				background-size: 100%;
				position: relative;
				top: 4px;
				margin-left: 10px;
			}
			&.active{
				&:after{
					background-image: url(../img/graphics/arrow-up-white.png);
				}
			}
		}
	}
	background: $color-lightgray;
	margin-top: 0;
	width: 18.8%;
	margin-left: -40px;
	@media screen and (max-width: $break-medlarge) { 		
		width: 100%;
		max-width: 300px;
		margin-top: 0;
		margin-left: 0;
		padding-bottom: 0;
	}
	@media screen and (max-width: $break-medium) { 	
		width: 100% !important;
		max-width: none;
	}
	nav{
		@media screen and (max-width: $break-medlarge) and (min-width: $break-medium)  { 	
			position: absolute;
		}
	}
	nav > .list-wrapper{
		@media screen and (max-width: $break-medlarge) { 	
			max-height: 0;
			overflow: hidden;
			transition: 0.3s all;
			-moz-transition: 0.3s all;
			-webkit-transition: 0.3s all;
		}
		
	}
	nav > .list-wrapper > ul{
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 20px;
		background: $color-lightgray;
		@media screen and (max-width: $break-medlarge) { 	
			padding-left: 20px;
			z-index: 1;
		}
		@media screen and (max-width: $break-medium) { 	
			padding-left: 20px;
			position: relative;
		}
	}
	ul{
		margin-bottom: 0;
		.current{
			position: relative;
			color: $color-teal;
			background: transparent;
			border-left: 8px solid $color-teal;
			display: block;
			margin-left: -20px;
			padding-left: 12px !important;
			padding-top: 7px !important;
    		padding-bottom: 7px !important;
    		font-weight: 700 !important;
    		&:hover{
    			background: transparent;
    		}
		}
		
		li{
			> div{
				position: relative;
			}
			ul{
				padding-left: 15px;
			}
			a,
			a:link{
				padding: 6px 20px 6px 0;
				display: block;
				position: relative;
				z-index: 1;
				font-size: 14px;
				color: $color-darkgray2;
				font-weight: 400;
				-moz-transition: background-color 0.2s;
				-webkit-transition: background-color 0.2s;
				transition: background-color 0.2s;
				&:hover{
					text-decoration: underline;
					color: $color-teal;
				}
			}
			
			.toggle{
				position: absolute;
				left: -30px;
				top: 11px;
				height: 19px;
				width: 19px;
				cursor: pointer;
				background-image: url(../img/icons/toggle.png);
				background-size: 40px;
				background-repeat: no-repeat;
				background-position: -1px -1px;
				&:hover{
					background-position: -1px -20px;
				}
			}
			&.active .toggle{
				background-position: -1px -39px;
				&:hover{
					  background-position: -1px -58px;
				}
			}
			
		}
	}
}