// TODO:  mobile styles
.card {
  padding:0;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);
  border-radius: 5px;
  margin-bottom: 1rem;
  .card-title { font-size: 1.1875rem; }
  // cursor: pointer;
  // h2, h3, h4, h5 { color: $link-blue; font-weight: 400; }
  h2, h3, h4, h5 { font-weight: 400; color:#444; 
    &:first-child {margin-top:0;}
  }
  // &:hover {
  //   h2, h3, h4, h5 { text-decoration: underline;} 
  // }
  // &>a {
  //   position: absolute;
  //   top: 0; left: 0;
  //   height: 100%; width: 100%;
  //   cursor:pointer;
  //   opacity: 1;
  //   text-indent: -9999px; // move text label off screen allowing for focus border
  // } 
  // &>a:focus {
  //   box-shadow: 0 0 0 0.2rem rgba(0, 104, 94, 0.5);
  // }
   
}

.card-margin {  margin-bottom: 0; margin-top:1rem; } 
.card-link {
  margin-bottom: 1rem; // used for single .card-link
  position: relative;
  font-size: 1rem;
  padding-bottom: 1.2rem; 
  border-top: 1px solid rgba(0, 0, 0, 0.1);  
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   display:block; padding:1.375rem 0 1.375rem 0;
  a { display:block; font-size:1.1875rem; position: relative; }
  h4, h3 { margin:0;
  .btn { color:#000; font-weight:600;}
  }
}
a.card-link { font-size: 1.5rem; }
.card-link + .card-link {
  margin-left:0; 
  margin-top:0;
  border-top:0;
}
.card-link-margin:last-child {
  margin-bottom: 1rem;
}
.card-link-margin .card-link { margin-bottom:0; border-top:0;}
@media (min-width: $screen-sm) {
  [class*="col-sm"] {
    &.card-margin {  margin-bottom: 2rem; margin-top:0; }
    &.card-link-margin { margin-bottom: 1rem; margin-top:0;
    }
  }
}
@media (min-width: $screen-md) {
  [class*="col-md"] {
    &.card-margin {  margin-bottom: 2rem; margin-top:0; }
    &.card-link-margin { margin-bottom: 1rem; margin-top:0; 
    }
  }
}
@media (min-width: $screen-sm) {
  [class*="col-sm"] { 
    &>.card:first-child:last-child, &>.card-link:first-child:last-child { 
      height: 100%; 
      // background:rgba(214, 156, 156, 0.2); 
    }
  }
}
@media (min-width: $screen-md) {
  [class*="col-md"] {
    &>.card:first-child:last-child, &>.card-link:first-child:last-child { 
      height: 100%; 
      // background:rgba(214, 156, 156, 0.2); 
    }
  }
}

@media (min-width: $screen-sm) {
  [class*="col-sm-"] {
    &.card-link-margin .card-link {border-top: 1px solid rgba(0, 0, 0, 0.1);   }
    .card-link + .card-link {
      
  
      border-top: 0;
    }
  }
}
@media (min-width: $screen-md) {
  [class*="col-md-"] {
    &.card-link-margin .card-link {border-top: 1px solid rgba(0, 0, 0, 0.1);   }
    .card-link + .card-link {
      
 
      border-top: 0;
    
    }
  }
}
@media (max-width: $screen-md - 1px) {
  [class*="col-md-"] > .card-link:first-child { border-top:0; margin-top:0;}
}


main, .content-container, .sectional, * {
  .card-links {
    @extend %list-unstyled;
    // margin-top: .5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    padding-left:0;
    line-height: 1.3;
    li { margin-top: .5rem; 
      padding-bottom: 1.2rem; 
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    
    a { font-size: 1.1875rem; display:block; padding:1.375rem 0 .375rem 0;}
    li:last-child { border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
  }
  .card-links.card-links-compact {
    li {
      padding-bottom: 0.375rem;
    }
    a { padding: .375rem 0 0 0; font-size: 1.1875rem; }
  }
}

.col-12, [class*="col-sm-"]
  { &> .card-links li:first-child { border-top:0; }

  }
  @media (min-width: $screen-sm)  {
  .card-body {
    .card-links { margin-top:0 !important; margin-bottom:0 !important; }
    .card-links li:first-child { border-top:0 !important; }
    .card-links li:last-child { border-bottom:0 !important; }
  }
}

@media (min-width: $screen-sm)  {
  [class*="col-sm-"] {
      &> .card-links { margin-top:.5rem; margin-bottom: 1rem; }
      &> .card-links li:first-child { border-top:1px solid rgba(0, 0, 0, 0.1); }
      }
    }  
@media (min-width: $screen-md)  {
  [class*="col-md-"] {
    &> .card-links { margin-top:.5rem; margin-bottom: 1rem; }
    &> .card-links li:first-child { border-top:1px solid rgba(0, 0, 0, 0.1); }
    }
}
.card {
  border-top: 5px solid $secondary;
}
.card-image-container {border-top-left-radius: 5px; border-top-right-radius: 5px;}
.card.image-card {  border-top: 1px solid rgba(0,0,0,0.05);}
.card-body { 
  padding: 1rem;}
.card.theme-primary {
  border-top: 5px solid $primary;
}
@media (max-width: $screen-sm - 1) {
  .card-image-container { background-image: none !important; }
  // To prevent arrow overlaying over text
  .card-links a,  a.card-link, .card-link a { padding-right: 1.5rem !important; }
  a.card-link:after, .card-link a:after, .card-links a:after {  
      position: absolute;
      right: 0;
      top:1.5rem;
      font-size: 2rem;
  }
  a.card-link:after, .card-link a:after {
    top:.25rem;
  }
}
@media (min-width: $screen-sm) {
  main, .content-container, .sectional, * {
    .card-links a, a.card-link, .card-link a { font-size: 1.5rem;  } 
  } 

  .card-image-container { 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    max-height: 233px;
    }
    .col-sm-4, .col-sm-3 {
      & > .card .card-image-container {
      max-height: 100px;
      }
    }
    .col-sm-8, .col-sm-9, .col-sm-6 {
      & > .card .card-image-container {
      max-height: 200px;
      }
    }
}
@media (min-width: $screen-md) {

  .card {
    
    .card-title { font-size: 1.5rem; }
  }
  .card-body { padding: 2rem; }

  
  img.card-img-top {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
  }

}

// .card icons

.card  {
  .far, .fa, .fas {
  font-size: 2rem;
  padding-bottom: .5rem;
  }
}
@media (min-width: $screen-md) {
  .card  {
    .far, .fa, .fas {
    font-size: 3rem;
    padding-bottom: 1rem;
    }
  }
  
  .card-image-container {  
    max-height: 300px;
    // border-bottom: 3px solid #0f0;
  }
  .col-sm-4, .col-sm-3 {
    & > .card .card-image-container {
    max-height: 120px;
    }
  }
  .col-sm-8, .col-sm-9, .col-sm-6 {
    & > .card .card-image-container {
    max-height: 240px;
    }
  }
}
@media (min-width: $screen-lg) {
  .card-image-container {  
    max-height: 400px;
    // border-bottom: 3px solid #f00; 
  } 
  .col-sm-4, .col-sm-3 {
    & > .card .card-image-container {
    max-height: 150px;
    }
  }
  .col-sm-8, .col-sm-9, .col-sm-6 {
    & > .card .card-image-container {
    max-height: 300px;
    }
  }
}
@media (min-width: $screen-xl) {
  .card-image-container {  
    max-height: 500px;
    // border-bottom: 3px solid #00f;
  }
  .col-sm-4, .col-sm-3 {
    & > .card .card-image-container {
    max-height: 160px;
    }
  }
  .col-sm-8, .col-sm-9, .col-sm-6 {
    & > .card .card-image-container {
    max-height: 320px;
    }
  }
}

.card.image-card {
  h2, h3, h4, h5 { color: $text-dark; }
}
.card-icons > div {
  min-width: 100%;
}
@media (min-width: 480px) {
  .card-icons > div {
    min-width: 17%;
  }
}
.card-icon { 
  border-radius: 4px;
  padding: 1rem 1rem;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-bottom: 1rem;
  &>a {
      position: absolute;
      top: 0; left: 0;
      z-index:1;
      height: 100%; width: 100%;
      cursor:pointer;
      opacity: 1;
      text-indent: -9999px; // move text label off screen allowing for focus border
    } 
    &>a:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 104, 94, 0.5);
    }
    &:hover a { text-decoration: underline; } 
  .icon img { 
    height: 72px; width: auto;
    max-width: initial;
    color: $link-blue;
    margin-bottom: 1rem;
    transition: filter .3s ease-in-out;
  }
  &:hover .icon img {
    filter: brightness(80%);
  }
}

/* row of links with image headers */
.stack-img-links img { margin-top: .5rem; margin-bottom: .5rem;} 
@media (max-width: $screen-md - 1) {
  .stack-img-links {
    .more-arrow:after { display:none; }
    .row > div:first-child { padding-right: 0;}
    p { margin:0;}
  }
}
@media (min-width: $screen-md) {
  .md-flex-5.stack-img-links > div { width: 18%; }
}