// @import "_style_debug";
// .debug { background: rgba(186, 218, 85, 0.8); color:rgb(123, 151, 29); padding: 10px; position: relative; font-size: 10px; top: 0; z-index:30; }
// .debug { display: none;}
// Variables
@import "variables";

@import "_custom_functions.scss"; 
 

html {scroll-behavior: smooth;}
.padded { padding: 3rem 0 2.5rem 0;} 
img { 
  max-width: 100%; 
  height: auto;  
}
h2 { font-weight: 600; }
h2.smaller { font-size: 1.5rem;}
section { min-height:1px;}

.container-fluid { max-width: $screen-xl; }  
@media (min-width: $screen-lg) {
  .container-fluid { padding-left: 40px; padding-right: 40px; }  
}
@media (min-width: $screen-xl + 80px) {
  .container-fluid { padding-left: 0; padding-right: 0;   }
}

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; // prevent horizontal scroll on carousel arrows
  color: $text-black;
}
html {
  font-size: 1rem; 
  height: 100%;
}

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */
.flex-layout {
  display: flex;
  height: 100%;  
  flex-direction: column;
  min-height: 1px;
}

p, ul, dl, ol {
  font-size: 1.1875rem;
  line-height: 1.68; 
  color: $text-dark;
}  

.contact-section {
  flex: none;
} 

::-moz-selection { 
  color: #fff;
  background: $primary;
}
::selection {
  color: #fff;
  background: $primary;
}
kbd.ouc {
  // display:none;
  background: rgba(6, 134, 74, 0.9);
  color: #fff;
  font-family: Helvetica;
  font-size: .8rem;
  padding: .5rem;
  // position: absolute;
  z-index: 100;
}

.sr-only.show-on-focus {  
  width: auto; 
  height: 0;
  transition: all ease-out .3s;
  padding: .5rem;
  color:$primary;
  border: 3px solid rgba(6, 134, 74, 0.7);
  background:#fff; 
  position: absolute;
  top: -5px;
  left: 0;
}
.sr-only.show-on-focus:focus {
  height: auto; 
  clip: auto;
  overflow: auto;
  top:0;
  clip-path: initial;
  
  white-space: normal;
  display: inline-block;

  z-index: 1000;
}

@media (min-width: $screen-md) {
  footer, header {
    div { font-size: 1rem; line-height: 1.5; }
  }  
}
.bg-inverted, .sectional-inverted {
  hr {
    border-top: 1px solid rgba(250, 250, 250, 0.1)
  }
}
 

// Customizations
@import "_style_prev.scss"; 
@import "_style_layout.scss"; 
@import "_style_typography.scss"; 
@import "_style_card.scss";
@import "_style_accordion.scss";
@import "_style_classes.scss";
@import "_style_topnav.scss";
@import "_style_quote.scss"; 
@import "_style_form.scss"; 
@import "_style_selectbox.scss"; 
@import "_style_table.scss"; 
@import "_style_dl.scss"; 
@import "_style_breadcrumb.scss"; 
@import "_style_news.scss"; 
@import "_style_sectionals.scss"; 
@import "_style_timeline.scss"; 
@import "_style_buttons.scss"; 
@import "_style_list.scss"; 
@import "_style_video.scss"; 
@import "_style_header.scss";
@import "_style_sidebar.scss"; 
@import "_style_menu.scss"; 
@import "_style_leftnav.scss"; 
@import "_style_quicklinks.scss"; 
@import "_style_footer.scss"; 
@import "_style_footer-totop.scss"; 
@import "_style_icons.scss"; 
@import "_style_homepage.scss"; 
@import "_style_alert.scss"; 
@import "_style_snippets.scss";
@import "_style_gallery.scss";
@import "_style_twitter.scss";
@import "_style_contactbox.scss";
@import "_style_grid.scss";
@import "_style_shame.scss";

@import "_style_print.scss";